<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8">
<title>TITLE_TEXT</title>

<style type="text/css">

/* 
This is similar to what the following would accomplish, except I just bake it
into the html output with the script.
<link rel="stylesheet" type="text/css" href="template.css"> 
*/

/*INSERT_CSS_HERE*/

/* The remaining CSS is bound to how this page works */
#PlayerBox {
    overflow: auto;
    text-align:center;
    position: absolute;
    width: 100%;
    height: 100pt;
    background-color:#101010;
    z-index:2;
}
#audioplayer {
    vertical-align:middle;
}
#PlayList {
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 101pt;
    bottom: 0;
    z-index:1;
}

</style>
</head>

<body onload="PlayerInit();">
<div id='PlayerBox'>
<div id="title" class="title">TITLE_TEXT</div>
<br/>
<button id="bPrev"  class="button_format" type="button" tabindex='-1' title="Previous Track" onclick="javascript: return PlayPrev(); "><div class="prev_icon"/></button>
<audio id="audioplayer" controls >
    Get a <i>modern</i> browser that supports HTML5 Audio.  If you see this, it doesn't, or it is disabled.<br/><br/>
    <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a><br/>
    <a href="http://www.apple.com/safari/">Safari</a><br/>
    <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a><br/>
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">IE, if your Windows version supports a new enough version.</a><br/>
    <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Others...</a><br/>
    <a href="http://www.w3schools.com/html/html5_audio.asp">More info about compatibility...</a><br/>
</audio>
<button id="bSeq"    class="button_format" type="button" tabindex='-1' title="Sequential" onclick="javascript: return PlayListRandom();"><div class="serial_icon"/></button>
<button id="bRand"   class="button_format" type="button" tabindex='-1' title="Shuffled"   onclick="javascript: return PlayListSerial();"><div class="random_icon"/></button>
<button id="bNext"   class="button_format" type="button" tabindex='-1' title="Next Track" onclick="javascript: PlayNext(); return false;"><div class="next_icon" /></button>
</div>

<br/>
<div id="PlayList">
<br/>
<div class="title"><div class="folder_icon"></div>TITLE_TEXT</div>

<!-- 
    These definitions are sought out in this file, and used to replace the 
    'INDEXES_HERE' with files and folders 
-->

<!--INDEX_FILE
<div class="index_entry" path="MEDIA_PATH" style='FILE_STYLE' ><a href="" onclick="javascript: PlayMedia(this.parentNode.getAttribute('path')); return false;" >MUSIC_TITLE</a></div>
-->

<!--INDEX_INDEX
<a class="folder_entry" style='FOLDER_STYLE' href="FOLDER_PATH" ><div class="folder_icon"/>FOLDER_TITLE</a>
-->

<!--INDEXES_HERE-->

<div class="info_text">
<br/>
<br/>
<a href="https://github.com/pingnak/videowebscript">Generated by JukeboxScript</a>
<br/>
<br/>
</div>

</div>

<script type="text/javascript">
var original_title = "Titles Available In TITLE_TEXT";   // Original title, before play list monkeyed with it
var bShuffle = false;
var now_playing = null;
var playlist = null;
var PlayList = document.getElementById("PlayList");;
var audio_box;
var audio;
var bRand = document.getElementById("bRand");
var bSeq = document.getElementById("bSeq");

function PlayListRandom()
{
    ArrayShuffle(playlist);
    ArrayShuffle(playlist);
    ArrayShuffle(playlist);
    bShuffle = true; 
    bRand.style.display = '';
    bSeq.style.display  = 'none';
    PlayMedia(playlist[0].getAttribute('path'));
    return false;
}
function PlayListSerial()
{
    MakePlaylist(); 
    bRand.style.display ='none';
    bSeq.style.display ='';
    PlayMedia(playlist[0].getAttribute('path'));
    return false;
}

function PlayerInit()
{
    audio_box = document.getElementById("PlayerBox");
    audio = document.getElementById("audioplayer");

    MakePlaylist(); 
    bRand.style.display ='none';
    bSeq.style.display ='';
    
    if( 0 == playlist.length )
    {
        audio_box.style.display = 'none';
        PlayList.style.top = '0px';
    }

    var params = window.location.href.split('?');
    if( 2 == params.length )
    {   // If we have '?title.mp3' that's the video in this folder, to play
        PlayMedia(decodeURI(params[1]));
    }

    bNext.setAttribute( 'title', "Next: " + TitleFromPath( WhatNext() ) );
    bPrev.setAttribute( 'title', "Prev: " + TitleFromPath( WhatPrev() ) );
}
/* 
 * Load the audio when the page finishes loading 
 * http://www.w3.org/2010/05/audio/mediaevents.html
 */
function PlayMedia(audio_path)
{
    if(typeof(audio_path)==='undefined') 
        audio_path = playlist[0].getAttribute('path');
    now_playing = audio_path;
    if( 'undefined' == typeof(now_playing) )
    {
        title.innerHTML = original_title;
        return;
    }
    audio.setAttribute("src", now_playing);
    audio.load();
    audio.play();
    audio.addEventListener( "ended", PlayNextWrap ); // Re-shuffle
    // Show title
    var title = document.getElementById("title");
    title.innerHTML = "Now Playing: " + TitleFromPath(now_playing);
    
    bNext.setAttribute( 'title', "Next: " + TitleFromPath( WhatNext() ) );
    bPrev.setAttribute( 'title', "Prev: " + TitleFromPath( WhatPrev() ) );
    
}

/* Make a play list from title links */
function MakePlaylist()
{
    var collection = document.getElementsByClassName("index_entry");
    var array = new Array();
    var i;
    for( i = 0; i < collection.length; ++i )
    {
        array.push(collection[i]);
    }
    bShuffle = false; 
    return playlist = array;
}
/**
 * Shuffle an array
 * @param array Array to shuffle in-place
 * @return Array passed in
**/
function ArrayShuffle(array)
{
    var ri;
    var tmp;
    var i = array.length;
    while( i-- )
    {
        ri = Math.floor(Math.random() * array.length);
        tmp = array[i];
        array[i] = array[ri];
        array[ri] = tmp;
    }
    return array;
}
/** Get index of currently playing media */
function IndexPlaying()
{
    var i = playlist.length;
    while( 0 <= --i )
    {
        if( playlist[i].getAttribute('path') == now_playing )
            return i;
    }
    return -1;
}
/** Play the previous one */
function PlayPrev()
{
    PlayMedia(WhatPrev());
    return false;
}
/** Play the next one */
function PlayNext()
{
    PlayMedia(WhatNext());
    return false;
}
/** At end of media, play the next one; re-shuffle as appropriate */
function PlayNextWrap()
{
    var i = IndexPlaying() + 1;
    if( i >= playlist.length )
    {
        i = 0;
        if( bShuffle )
        {
            return PlayListRandom();
        }
    }
    return PlayMedia(playlist[i].getAttribute('path'));
}
/** What will play previous */
function WhatPrev()
{
    var i = IndexPlaying() - 1;
    if( i < 0 )
    {
        i = playlist.length-1;
    }
    var path = playlist[i].getAttribute('path');
    return path;
}
/** What will play next */
function WhatNext()
{
    var i = IndexPlaying() + 1;
    if( i >= playlist.length )
    {
        i = 0;
    }
    var path = playlist[i].getAttribute('path');
    return path;
}
/** Turn video URI into title text */
function TitleFromPath(path)
{
    var titletext = decodeURI(path);
    titletext = titletext.substring(titletext.lastIndexOf('/')+1);
    titletext = titletext.substring(0,titletext.lastIndexOf('.'));
    return titletext;
}
</script>

</body>
</html>
