		</style>
        <title>TITLE_TEXT</title>
        <script type="text/javascript">
            var original_title = "Images In TITLE_TEXT";
            var rotation;
            var new_wide;
            var new_high;
            function showme(image_path,rot,wide,high)
            {
                var title = document.getElementById("title");
                title.innerHTML = image_path;
                
                var viewer = document.getElementById("viewer");
                
                rotation = rot;
                
                window.onresize=redraw;
                redraw();
                function redraw()
                {
                    if( 90 == rot || 270 == rot )
                    {
                        new_wide = window.innerWidth-32;
                        new_high = Math.floor(new_wide * wide / high);
                        // Set up canvas, start loading the image, un-rotate from EXIF camera details
                        // Layout is borked on EVERY browser if I use CSS to rotate
                        viewer.innerHTML = '<a class="image_box" href="#" onclick="javascript: hideme();"><canvas id="canvas" width="'+new_wide+'" height="'+new_high+'"/></a><img id="showthis" style="visibility:hidden;" src="'+image_path+'" onload="image_loaded_rot();" />';
                        viewer.style.width = new_wide+'px';
                        viewer.style.height = new_high+'px';
                        //image_loaded_rot();
                        var image = document.getElementById("showthis");
                        if( image.complete )
                            image_loaded_rot();
                    }
                    else
                    {   // Rotate it with css; right side up, or upside-down
                        viewer.innerHTML = '<div class="rot'+rot+'"></div>';
                        var innerImg = '<a href="#" class="image_box" onclick="javascript: hideme();"><img class="image_box" src="' + image_path + '" /></a>';
                        viewer.firstChild.innerHTML = innerImg;
                        viewer.style.width = '100%';
                        viewer.style.height = 'auto';
                    }
                }
            }
            function image_loaded_rot()
            {   
                var image = document.getElementById("showthis");
                if(!image.complete)
                {   // Poll-ish load check, because 'onLoad/onload' not reliably working...
                    setTimeout(image_loaded_rot,33);
                }
                
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext("2d");
                context.save();
                if( 90 == rotation )
                {
                    context.translate(new_wide, 0);
                    context.rotate(rotation*Math.PI/180);
                    context.drawImage(image, 0,0, new_high,new_wide);
                }
                else
                {
                    context.translate(0, new_high);
                    context.rotate(rotation*Math.PI/180);
                    context.drawImage(image, 0,0, new_high,new_wide);
                }
                context.restore();
            }
            function hideme()
            {
                var title = document.getElementById("title");
                title.innerHTML = original_title;
                
                var viewer = document.getElementById("viewer");
                viewer.innerHTML = "";
                viewer.style.height = '0px';
                window.onresize=null;
            }
        </script>
    </head>
	<body>
	<div id="viewer" class="image_viewer" >
	</div>
	<div id="title" class="title">Images In TITLE_TEXT</div>
	<div id="thumbnails">
	<table border="0" align="center">
	
