<!-- ~~~~~ COPY+PASTE CODE BEGINS HERE. ~~~~~
    
    The thumbnails are stand-alone, so this section of the file can be 
    posted into whatever form/forum/etc. that accepts straight HTML for   
    publishing, such as college 'Blackboard' forums
    
    Add this to the content, if you don't want to leave an untidy call for the 
    image links...
    
    <script type="text/javascript">function showme() {}</script>
-->
<div style="background-color:#000000; text-align:center;" id="thumbnails" >
<br/>
<table border="0" align="center" >
