<!-- ~~~~~ COPY+PASTE CODE BEGINS HERE. ~~~~~
    
    The thumbnails are stand-alone, so this section of the file can be 
    posted into whatever form/forum/etc. that accepts straight HTML for   
    publishing, such as college 'Blackboard' forums
    
    Add this to the content, if you don't want to leave an untidy call for the 
    image links...
    
    <script type="text/javascript">function showme() {}</script>
-->
<style type="text/css">
.index_gallery {
}
.index_entry {
    border-radius: 8px;
    background-color: #000000; 
}
.index_title {
    color:#00ffff;
    font-size:20px;
    white-space:nowrap;
    text-align:center;
}
img.index_thumbnail {
    text-align:center;
    padding-top:4px;
    padding-bottom:1px;
}
.index_exif {
    padding-bottom:4px;
}
.details {
    color:#d0d0d0;
    font-size:8pt;
    min-width:THUMB_SIZEpx;
    border-collapse:collapse;
    border-width:1px;	
    border-style:solid;
    border-color:#202020;
    padding-top:2pt;
}
.gps_links {
    padding-top:2pt;
    padding-bottom:2pt;
    color:#00c000;
    font-size:8pt;
    text-align:center;
}
.info_text {
  color: #808080;
  font-size: 10px;
  text-align:center;
}
</style>
<div id="thumbnails" class="index_gallery" >
<table border="0" align="center">
