/**
 * CSS that all templates use
 * There is some 'extra' overhead, but we can override most of the appearance 
 * with one file, if we're not changing the underlying/scripted behaviors. 
**/
@media screen and (min-width: 1024px) {
html, body {
    font-size: 14pt;
}
}
@media screen and (max-width: 1023px) {
html, body {
    font-size: 10pt;
}
}
html, body {
    background-color: black; 
    font-family: "Arial", Helvetica, sans-serif;
    color:#00c000; 
    overflow-x: hidden !important;
}
html, body, div {
    margin: 0px;
    padding:0px;
}
/* Links that only underline when tracked, change color if visited (already watched) */
a:link      { color:#00c000; text-decoration: none; }
a:visited   { color:#00c000; text-decoration: none; }
a:active    { color:#20ff20; text-decoration: none; }
a:hover     { color:#00c000; text-decoration: underline; }
button:focus {outline:0;}

.title {
    color: #c0c0c0;
    clear: both;
    width:100%;
    font-size:2.5em;
    font-weight: bold;
    white-space:nowrap;
}

/* Folder index text */
.folder_entry, .playlist_entry {
    margin-top:2pt;
    margin-bottom:4pt;
    margin-left:8pt;
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

/* Folder container */
.folder_page, .playlist_page {
}

/* Player index text */
.index_entry, .index_entry_highlight {
    margin-top:2pt;
    margin-bottom:4pt;
    margin-left:8pt;
    font-size: 2.5em;
    white-space:nowrap;
    overflow: hidden;
    cursor: pointer;
}

.index_entry_highlight, .index_entry_highlight a:link, .index_entry_highlight a:visited {
    color: #00FF00;
    font-weight: bold;
}
.index_entry, .index_entry a:link, .index_entry_highlight a:visited {
    font-weight: normal;
}
.index_thumbnail {
}
@media screen and (min-width: 1024px){
    img.index_thumbnail {
        width:THUMB_SIZEpx;
        vertical-align:middle;
        padding-bottom:2pt;
        padding-right:4pt;
    }
}
@media screen and (max-width: 1023px){
    img.index_thumbnail {
        width:20%;
        vertical-align:middle;
        padding-bottom:1pt;
        padding-right:2pt;
    }
}

/* Text advertising project home page */
.info_text {
    font-size: 10px;
    clear: both;
}

/*  See templates/artwork/wireframe/scratch.txt and optimize.sh */
.prev_icon {
    /* ./wireframe0001.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA31+fD+8ff78/b89Pry+PSon48gAAAT9JREFUWMPtlkmihCAMRAOG0bbN/U/7FxDsL4OSNbVE8qQCJAAsLS3d9NmJiPzneaaNujGKhpK+D+HoiMjWw3uOJzWO14aIKFbjkYpGJkL+j6u+eCI6rVXNj8X8wT9pAwKAGwDQXauUAHTO8rGJAMGn8D105owBdkvhRgMIAOjy6h2CBKBVCvf59EwC2LwKPDIFQDb/c/RmAGz+RJAAPjfzk4BvZX4KUMzXU18B2PyGIAEU883i8gKQrp3qFIYXgNjYvClA6/hMJjH09vD1NlZXaBpwv8TzgFsZkQD+FTIZ4KeUWiHgKuYlFdMljdsJp0JQlbmh+SAEXKnYrBBQUmEcygAAlk+3lzZXCGrQXA8iOlJ7j9BVNF2Avlr36I2DZw8AnuM9DJVS0VglZoPq6ZEFQdHerFWn6ZThpaWlZ/0B/QYsvVTF3ZkAAAAASUVORK5CYII=) no-repeat;
}
.next_icon {
    /* ./wireframe0002.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA31+v7x8Pv38/b58vz0+PR3YsgQAAATRJREFUWMPt1ksShCAMBNBG5Kc49v1POwtxSh1AyJps1VdFGwjAqFGj7rX42PCSIkmde9OT8/T6PY9ymWeOJLdQ/d7wrLUAkNpUgP0HMJYA0tsi4Eg6Gx1JXwYqUTiSH8AXAb8dRCkKRzLUgIBpTiEZIQDr0zpyUbQAgNEHoSYhAASV2iUIAWDJR9EOwO5nFEIAMKkx1EcIXKKIQuAShRUCsOstin4AiNcoJADwSVFsRggA/ogiSIHzh0YZcG0pCXBr6n7gsa16gb+N3QdkjpYuIHe4dQAhe7w2A+finwd8I3Au/n/EtAGTKg65FiC4ymx5B8xanW6vgE6/brfC0Zb61oiHK0mqyh1Dk3Q2bCSXAjAvLTcckiarFxd/bo/5dwvJHH21xT83iBbfBaPLz+1Ro0Z9AaP8LR/IkwL7AAAAAElFTkSuQmCC) no-repeat;
}
.serial_icon {
    /* ./wireframe0003.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA788Pn18vP79/b69PH9+P/mxpWQAAAOtJREFUWMPt1rkSgzAMBFBhwJa4sv//tSmIbGgSLDGTAm8Dzb4xhz0iavmSmDS2/oCSyQJ0BwAWAHcAzMzsAc43lWEA6Q6gB9B5gASAHwoMAEYPIACkARAiWgDMHkCv1dGlN+CfQAQQPICehW5At7UZyKfzE4EAIHqAT7MBRBuA1QTMABb7eJB3kQHox5mZeSuAiIhMl9/EVKYzOU1rS8XDlwkTJ+5SxtwYiOhVgMvHwj7lTmn/eotIyFyN0MXzkobanygLhj71oQiW/lGw9VUIvbWvwmbuq2DvE8XO11fB3t8FT5+I0kotv/IGJK4gD2JmkfcAAAAASUVORK5CYII=) no-repeat;
}
.random_icon {
    /* ./wireframe0004.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAXy8f75/Pf78/369vD49PaHyodgAAAa5JREFUGBndwUly3DAURMHC+DGS7/6nNZuSrHaEFgS8U6Z+pYMfxEOP8TM9xs/0GKBPvtoHQI/x0k5Ny7zRU57boYN3TU+FxiWHwiXZF6/nBkRvgNOeAjYjOG0CgoOsTR6aDEybKhQZmDZVKBqQtMlDlIcYtClCVYHotCdBDCECsSRXX7QkADn4zLfotcIB0YI7Gl+alhy8eKlaKhdAC2bm5nWpL4CemxmIpYyRMn/puQRxqDbeNT02I1SdjVsrtxH0mEHXCcTuvDY0OGeEPLXFQ9SANrXHQVeBoU0GpgJVmwxMBao2GZg6OG0akGRQtKlCkwecNkWoKhBT0JYEWSFyKWY26iVogQeSgvGuda/HDOhBtfMP02OdSzrDPM3sKJcMRD2XuOVRgz74AqeeOxvvstcA0wrXM9+6KnQtCqMXPkRVKNoFqELRugQ5HdDkwLSOT0UGpnWZD6YEsRwWtMYBlkqfStzi1JIJOL34zEvUogRdnzrgtOgEgm4OcFrWYOjFAUPrDsi6OCBpgwe85ICkLRkOOSBpz4DogaRNk1vSts4la98J5Kn/kMlTv9kft0Mmh4zjPcAAAAAASUVORK5CYII=) no-repeat;
}
.full_icon {
    /* ./wireframe0005.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAjw8vr98fvz9vX+/Pn39P8etrogAAAMRJREFUWMPtlkkOwyAMRZnnJL7/aatQlbbEBrKM5Le1eAI+shGCYZgLwUDFblhV2lrMXpGCAh/itXi0oiEFMBLEVvRzAXYEZdYEs2t6hiAYwKj5LQkKEJiZYAdIf2l2nCs9ZE2fUGsxE4jgpi8avcvx3lnAAhawgBaEnrgiiLnOtGFL2wDonmjfex8J3Epbt5RALs4FZzyKfMhsPCMjRoebptluyyLfIFVu/FBgvxbTwhfnm98xEkhS0PJL6Dv9SZNhmJ4X91gkVzc/pAcAAAAASUVORK5CYII=) no-repeat;
}
.window_icon {
    /* ./wireframe0006.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAzy8f7w+Pvz+vn99vT39frhtXYgAAAMFJREFUWMPtltEOgyAMRQGhFHGz//+1e0DRSVBg8YHZ89agJ7HlNgrBMEwCOrpGW5MVSCrCZQVl75O9V3DVpj4E6zTXgQ2jjmWRQB4GBruySHCcuNu1v04gwyco2SDIde8pAk2kkzNVMcaX1io9fJM03WThL+JsMT2cbU2c03tgKuP89DARESEiboFQiFPLSqOgQN+6E5dHx9ql6qMAvgVQKBicDcByh2ArewgTnjPd/4Pxk8CXCSAriPM7BQTDMCkf9UAxTBhlSAUAAAAASUVORK5CYII=) no-repeat;
}
.play_icon {
    /* ./wireframe0007.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAH1+f338/v+8Pb6+Pzy9PfU1xWwAAARZJREFUWMPt1ksShCAMBNAGFcTf5P6nncUI6pTyaaZqNuQAb9GEJECrVr+uSWSqAnoRsaYCEBERsaoSEOlcJSDj4GjA7oRmAej+Q/SGBIBh3NM0JAA3+DQVBwCq24myNA8AMD7NgQQA49PUJADoPc3VkABceBDFAYDrSh7kBgDUnN/et8DpQTQJ4GjvFwkAU1Z7R4C89o4Bp/ZeHAcAW6q9U0Bob8sCvjNnEvB/w24UYNLNEANCgBPVB5kT6gkIvzr1JR8AnT2lbwGT+ZEeAJWTXWSkFU73LyA7uwfAT5GCDXdZLGvxVrisNmYvnZZrenTEgJDdXHwsXQ4MSx4YTHZ3R1bdlbbUnXkzf2hWn7raWo1Wrf5Rb+uvHmCTW87zAAAAAElFTkSuQmCC) no-repeat;
}
.pause_icon {
    /* ./wireframe0008.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAD08fzy/vf78/j1+v32+fBQzHYgAAANpJREFUWMPtlssOgyAQRZHhNbz//2srtIioaJMmXc1dEQ9zBFaXMQrlHOdNyMF4d/gO2qxAmMRvx6XILUIOXrUBv8znlz6/GnYbpdqBNBeknK83hgG42bysP+bAgNejbJeI9egITGJRqZlAFyj7mXUDpt/IFRfeCOxnbY+C9vriQaAv1lWAF2sSkIAEJCABCUhAgr8Ifqo48VCyYgP+ULLkRAAFqoiIsRZLaKBOBd5AYLPYoU/aDsQA5nX5q6qrLJtn0ds+PXRq8M9F9x1MpiSdHpr7CiwwCuWcF/fjM0MMTh4IAAAAAElFTkSuQmCC) no-repeat;
}
.folder_icon {
    /* ./wireframe0009.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wD30d6tAAAAEHRSTlMAL0/P7x+vvz9/D99fn49vn1ax6AAAAQ1JREFUWMPt19sOgyAQBNAVgWW9tPP/X9sH0XprUnbems6bEY5mMIoi//xCimU9JFtoAkacE7smQEEKCsSz0A8NQARsdzhkAJhPg1I5J23nAOT92OFayl3eNwlAD1cLXwEoHwExFpB8GT0eH5Wt9ZiHO6Bl6Y0FVACMBPAQAPAARaQHMDEAAHQEUJapfuC59O8HZgAPBlg6JIClQ1EvUDsUBZA8QO1wXdN2oHboB2qHfqB26AZsXT4vkNf3gBcYa4duALVDCuhIIAoJKAvY9hkxHxBYIJFAFBJQFjAWCCyQSCAKCSgLGAsEFkgkEPd7srm0pd/vi77b1F1jLLD9E0y++fH9PX2qJ53880t5AcG7NoP3JVJaAAAAAElFTkSuQmCC) no-repeat;
}
.back_icon {
    /* ./wireframe0010.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA308v7w8fP79/r4/Pb1+feXTVgwAAAdJJREFUWMPtl23XhBAQhpHXFP7/r30SaohWOuc5+2HnW+LamdtttAj94utjUuLNcjY7h1+sX6nbYhrOXro9Bmtgyrk3AIHdG4AXz4dcxgBBPEcJkiOAJJ5maASQxFv2dc8BJIhHVXh8CuBJPI6GAKd4aAQwLad4AwCmo3iZ9fsBSbw1H/YAS6Zu8WZevEiGlnYV/KN4mFzeUAcCW9It3lFZRtgY5jpnrokHjqXRElLwpZKqeKVGQs3H+SbVMmv5lxSTTll1AzHpsbrd59q6hWbWgTDVqbF/UdJPaPj4YqRNPlE4yNSqOMxQ7kaYTaUCELKPXbdNFa0AmsT7hBRUgXqSkMBCkmUEyppnApjSZ4CTEfExbmtC7pLFX1SwLoU40cUds88zNwczJaEijRmc2ZjTRhFnawjeVmc6QWQDZdCN5hS7g8gBcVzAIvj9zbglIbz6xzZB8flNCuCAZYAgvoYP7GOPzgDBVxyksPZ8IAAAw0ATn8LScVE4CnfZnV9d5EbGvNtCKlxE72s49751Vdm8vmYSugUgRX0NMfNja4GKbOQrEloTLZUm/wgww4cRgKo1xycA07ENNQCWMZZBQBb/DuA4X08f/5tgIgv++1f4FfEHRe4u8l1OOE8AAAAASUVORK5CYII=) no-repeat;
}
.list_icon {
    /* ./wireframe0013.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAXVBMVEUAAAD///8A/wAA/wD///////////8A/wAA/wAA/wAA/wAA/wAA/wD///8A/wD///////////8A/wAA/wD///////8A/wAA/wD///////8A/wD///////8A/wD///8A8jJlAAAAHXRSTlMA768PP79/P79/7x8vb8+vL8+Pbx+f308P319PX9OhT/YAAAESSURBVFjD7ZbZDoMgEEURATes+9YW//8z26DUxArqqEltex58mxMduM4g9OebIFEroQQoSNoeCyhoX+wicLCYxndtg0A9EboILXiRwIcJhk+otIaLfVQTra3HeOsNVvy7YcpDKmE5UBCpU0g+I0xB5urBnk5AiBJgYSSdDZO5XrgaAaVK4BnrfT7fRO4YCA45Babq79CrGBPJmcMYMwmpgfWFamKx9Z+4T5jsqzdBFcwIGOsFwdqhMA5TpkuBs/ANHOAbDD3g3iT2kb80uvUeoLC7ieGpFz0JuDxUYYA2odk3TM/LqIMbBMNcyAxrmuAL1rxy7Vwaz8Zy7WR8m85YP5zTg8LUbN1Q8qjbkaIa/fk9HixlViyLa7RjAAAAAElFTkSuQmCC) no-repeat;
}
.player_icon {
    /* ./wireframe0014.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAACnRSTlMAz9+f748vf7+vhA+kiwAAAKZJREFUSMdjYBhCgNVrFSooQJK0WrXKgAtNftUC5lWrFkMVgLhcC1BN5FoA0gJTAOJiKljAQEUFhNygtWqVA6YCplWrlqAIoCtgwC+AwgcHFIaC0YAawgGFkeyR3CC1apUAJ4YCxlWrFuLJaWwJpORLYFwocKBbEQCMi0XEOnIwpChQQGEqQAsoylIUKKCwJtpFQynrjQYUCQHFQijrsaIrcBhKVTIA6h4mpbxxheUAAAAASUVORK5CYII=) no-repeat;
}
.home_icon {
    /* ./wireframe0015.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA3x+fD+8vfz+/z29PX4+v8XiDmgAAAQ5JREFUWMPtlM0SgyAMhEUIAX/3/Z+2h6B2LNJgpxeHXHWXTb5A1z2+fHC/yN0C0PTD8QYAwHf1jFTxVht9xF7G1+tnEuk8AADm2umtcvTqOmcBALaqjSDHk5w7AgCGXq9f0uw2iSeggqeXrt/puVjBUwJj8JlQCp4bvOX860QqnlOa3nTZ2ViEZ3d4118LPIOsPo3l8Qy+vPol3nK78jwz8HJtyIyXTLq0+kF3Rc88t9XXLLyAIp+Bp9y0/oOnS/qT7aUB0ynuvD8cmgjH33FPYGoM1uOhegvFzFFpED8THHy0BpaZeXT3DcLVhjSDZtAMmkEzaAYPMzDxe1HJQFv/MeiNWm/z03FBW92z6gW22Cy1qXp34AAAAABJRU5ErkJggg==) no-repeat;
}
.print_icon {
    /* ./wireframe0016.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAL+9vn9/Pvz9/D6+PX08fQ4eIoAAAARZJREFUWMPtlsESgyAMRBWBJCh2//9re3CmA62JqOOlw16Rh+wu6DB0df1qZGbmSSot9CWfVUAOaFJM+/NfaBXvA5bW+UHZQUAgIqLag4lLZQBxVCwEIEc+TwAmZUwArEeAWXfAHCu2CWhjDkAavOWeT4aFCYDbllDlGAApAGus8kkMf+cWD7UQFgCyY4EvHyLDaAKw7ljgyocA4GUADlOEkaIFL8vqTLjVAm8ntcGtFjg7qds1yC0AbwBEqUFVByupDR4sB7aDwk/VILZeiEoG3Do/8s+NuDYv/tE8fhXgtFy6sPlKS+0s6IQi6s5Z0ejH5haAO6ADOuAxwMpnJDXg9o0klwDFJyRdeYXqvycJnVUeuv5Ib0suRVyEvZyQAAAAAElFTkSuQmCC) no-repeat;
}
.playlist_icon {
    /* ./wireframe0017.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wAA/wD30d6tAAAAEHRSTlMAL8+v75/fvz9/Dx9PX2+PRakMwwAAAV5JREFUWMPtl9sWgiAQRccAB9Ts/P/X9sAlVCqYeWt13lrittkOF4n++YX4YPgQE7YhwIxz7DQEYCgJDNgz4bYMACwQqp+LAQB3GrT6c9ZyDYCpxy5XKa28/iQAPjxt6wLAvwVQ0ALIXEbPx1Yp1q1ZMsCN+K9efciArG4aBDABmEfbvwI8CAAkAE90A3DPAHfo5b0LEEtOgGP7mB6Aj7fKS9ijfznAAXhQ08G3SRkB0WHbwZemiIA0gqUlJIfEAFYJIDnM79R9mHiuCUgOM+DTMmKbgOQwA8ZLyJalgJAbqMPBRQQDMHkl6nBwEcEA5uRQXAKSQxVgIkUflKqkfVBWc0UJoWwjQQbYasDwelDmYAIMrwdFjbwE1gICvXXQsy9kh20HpgewKkuwpAQwtRwMnA8CNR30nw82bQmrEmDrM5nzY7nVJ7O+Q901QQso3wR32f32tZ/uLMlE//xSnp+kS9dlC1f9AAAAAElFTkSuQmCC) no-repeat;
}
    
.icon_class, .prev_icon, .next_icon, .serial_icon, .random_icon, .full_icon, 
.folder_icon, .window_icon, .play_icon, .pause_icon, .back_icon, .list_icon, 
.player_icon, .home_icon, .print_icon, .playlist_icon {
    display: inline-block;
    background-size:cover;
    height:32pt;
    width:32pt;
}

.folder_icon, .playlist_icon {
    vertical-align:text-top;
    width:1em;
    height:1em;
}

.button_format {
    cursor: pointer;
    background: transparent;
    font-size:0;
    border: none !important;
}

@media print {
    /* When printing, remove the images and use a black on white theme */
    html, body, div {
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 6pt;
        background-color: #ffffff; 
        color: black; 
    }
    .title {
        color: black; 
    }
    .index_entry, .index_entry_highlight {
        color: black; 
        font-weight: normal;
    }
    .folder_page {
        page-break-after: always;
    }
    .playlist_page {
        display:none;
    }
    img.index_thumbnail {
        display:none;
    }
}
