<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height">

<link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAXVBMVEUAAAD///8As7UAu7v///////////8AsrYAs7QAs7UAsrQAtbUAs7P///8As7X///////8As7X///////8AsrT///8AsrUAsrX///////8AtLT///////8As7X///8fHS7IAAAAHXRSTlMA768PP79/P79/7x8vb8+vL2/PH4+f308P319PX0HDJacAAAETSURBVFjD7ZbbEkMwEIYjchCiKD033v8x20mlZlSCDTNt+S7c7Tds8ttFaOOfIFmtoQQo2NcNAVBQv5lFwLHqJ45Ch8A8EdopK3iUIIYJ2k84WQ27cKkmBr7HeGsMQb7eMJUp1bASKMjMKey/I0xJEdnBwiYgxAiwclINhsldryKLgFIjEM76WA43UXIHySKnwEz9HXoVc6L55TDmTEPOwPqDaeLB9584T5jCq+jhlAwIGGsEydSh0A1TYUsBH/kGHPgGbQ+k6CVc8pdGfe8BSl83Mf3pRU8DLk9NGKBNuMwbpudltCEdgnYuFI41TckRa95x6lzqzsbj1Mn4MZ2xfThXC4Xp4ruhlNlrR8rOaGN9PAAllFYs17A7SwAAAABJRU5ErkJggg==" />
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

<!-- Apple worms -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA5BAMAAAB+Np62AAAAIVBMVEUAAAD///8As7UAsrYAs7QAsrQAu7sAs7MAtbUAsrUAtLQJVQ+hAAAAAXRSTlMAQObYZgAAAKZJREFUOMtjYBgwwCgIBAI0lGVWQgIhCQhZASBiYEKWVVJAk2XFJQs2mTMIWTaB9j4awrHAoeKCDJRQZVFjQUkpAE8cKSk54NOrWoDqqmJjZGBBjVgAydImGmgdC2yL4OGk2YAh24QUjGrIsuBYQA5kZQy9Rrj0gmXZseWTQRsLjPispUZOYUZOkgVoskwopYpSAWoscGLNCvASCWs2wp4HXYdseQUA8Fk7aXH77bkAAAAASUVORK5CYII=" />

<title>TITLE_TEXT</title>

<script type="text/javascript">
//<![CDATA[
/** Namespace for audio control code */
var aud = {};

aud.bShuffle = false;
aud.now_playing = null;
aud.playlistElement = null;
aud.now_playing_element = null;

aud.PlayerInit = function()
{
    aud.Folders = document.getElementById("Folders");
    aud.PlayList = document.getElementById("PlayList");

    aud.audio_box = document.getElementById("PlayerBox");
    aud.audio = document.getElementById("audioplayer");
    aud.bRand = document.getElementById("bRand");
    aud.bSeq = document.getElementById("bSeq");
    aud.bNext = document.getElementById("bNext");
    aud.bPrev = document.getElementById("bPrev");
    
    aud.audio.addEventListener( "ended", aud.PlayNextWrap ); // Keep playing (Re-shuffle, as applicable)

    // Set up play lists so that they can be sorted after being shuffled
    var collection = document.getElementsByClassName("index_entry");
    var i;
    for( i = 0; i < collection.length; ++i )
    {
        collection[i].index = i;
    }
    
    aud.BrowseFolders();
}

/** Play in shuffled order */
aud.PlayListRandom = function()
{
    aud.bShuffle = true; 
    aud.MakePlaylist();
    aud.PlayNext();
    return false;
}

/** Play sequentially */
aud.PlayListSerial = function()
{
    aud.bShuffle = false;
    aud.MakePlaylist();
    aud.HighlightPlaying();
    return false;
}

/* 
 * Load the audio when the page finishes loading 
 * http://www.w3.org/2010/05/audio/mediaevents.html
 */
aud.PlayMedia = function(audio_path,noscroll)
{
    noscroll = noscroll || false;
    if(typeof(audio_path)==='undefined') 
        audio_path = aud.now_playing_element.getAttribute('path');

    aud.now_playing = audio_path;
    if( aud.HighlightPlaying(noscroll) )
    {
        aud.audio.src = audio_path;
        aud.audio.load();
        aud.audio.play();
    
        aud.bNext.setAttribute( 'title', "Next: " + aud.WhatNext().children[0].innerHTML );
        aud.bPrev.setAttribute( 'title', "Prev: " + aud.WhatPrev().children[0].innerHTML );
    }
    
    return false;
}

/** Convert DOM collections of index_entry objects to array */
aud.Playable = function(element)
{
    var i;
    var curr;
    var result = new Array();
    collection = element.children;
    for( i = 0; i < collection.length; ++i )
    {
        curr = collection[i];
        if( "index_entry" == curr.className || "index_entry_highlight" == curr.className )
            result.push(collection[i]);
    }
    return result;
}

/** Show which item is playing in the play list */
aud.HighlightPlaying = function(noscroll)
{
    var collection;
    var i;
    var curr;
    aud.now_playing_element = null;
    
    // Find and reset elements 
    if( null == aud.playlistElement )
    {
        collection = aud.Playable(document);
        for( i = 0; i < collection.length; ++i )
        {
            curr = collection[i];
            if( curr.getAttribute('path') == aud.now_playing )
            {
                aud.BrowseFolder(curr.parentNode.id);
                aud.now_playing_element = curr;
            }
            delete curr.style;
            curr.className = 'index_entry';
        }
    }
    else
    {
        collection = aud.Playable(aud.playlistElement);
        for( i = 0; i < collection.length; ++i )
        {
            curr = collection[i];
            if( curr.getAttribute('path') == aud.now_playing )
            {
                aud.now_playing_element = curr;
            }
            delete curr.style;
            curr.className = 'index_entry';
        }
    }
    if( null == aud.now_playing_element )
    {
        console.log( "Media not found in internal play lists:", aud.now_playing );
        window.scrollTo(0,0);
        return false;
    }

    // Highlight what we found
    item = aud.now_playing_element;
    item.className = 'index_entry_highlight';
    if( !noscroll && item.scrollIntoView )
    {
        var browserHeight= window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
        item.scrollIntoView();
        if( item.offsetTop - window.scrollY <= aud.audio_box.clientHeight )
            window.scrollTo(0,window.scrollY-(0.5*browserHeight));
    }
    return true;
}

/* Make a play list from title links */
aud.MakePlaylist = function(playlistElement)
{
    if( aud.bShuffle )
    {
        aud.bRand.style.display = '';
        aud.bSeq.style.display  = 'none';
    }
    else
    {
        aud.bRand.style.display = 'none';
        aud.bSeq.style.display  = '';
    }
    playlistElement = playlistElement || aud.playlistElement;
    if( null == playlistElement )
    {
        aud.playlistElement = null;
        aud.bNext.setAttribute( 'title', "" );
        aud.bPrev.setAttribute( 'title', "" );
        return aud.playlist = [];
    }
    aud.playlistElement = playlistElement;

    var playlist = aud.Playable(aud.playlistElement);

    if( aud.bShuffle ) 
    {
        aud.ArrayShuffle(playlist);
        aud.ArrayShuffle(playlist);
        aud.ArrayShuffle(playlist);
    }
    else
    {
        playlist.sort( function(a,b) { return a.index - b.index; } )
    }

    // Order play list from sort/shuffle, reset index_entry
    var i;
    for( i = 0; i < playlist.length; ++i )
    {
        playlist[i].className = 'index_entry';
        playlistElement.appendChild(playlist[i]);
    }
    
    aud.bNext.setAttribute( 'title', "Next: " + aud.WhatNext().children[0].innerHTML );
    aud.bPrev.setAttribute( 'title', "Prev: " + aud.WhatPrev().children[0].innerHTML );

    aud.HighlightPlaying(true);

    return playlist;
}

/**
 * Shuffle an array
 * @param array Array to shuffle in-place
 * @return Array passed in
**/
aud.ArrayShuffle = function(array)
{
    var ri;
    var tmp;
    var i = array.length;
    while( i-- )
    {
        ri = Math.floor(Math.random() * array.length);
        tmp = array[i];
        array[i] = array[ri];
        array[ri] = tmp;
    }
    return array;
}

/** Play the previous one */
aud.PlayPrev = function()
{
    if( !aud.audio.paused && aud.audio.currentTime > 3 )
    {
        aud.audio.currentTime = 0;
        aud.audio.play();
    }
    else
    {
        aud.PlayMedia(aud.WhatPrev().getAttribute('path'));
    }
    return false;
}
/** Play the next one */
aud.PlayNext = function()
{
    aud.PlayMedia(aud.WhatNext().getAttribute('path'));
    return false;
}
/** At end of media, play the next one; re-shuffle as appropriate */
aud.PlayNextWrap = function()
{
    if( null == aud.playlistElement )
        return false;
        
    aud.now_playing_element = aud.now_playing_element.nextElementSibling;
    if( null == aud.now_playing_element )
    {
        if( aud.bShuffle )
        {
            return aud.PlayListRandom();
        }
        var collection = aud.Playable(aud.playlistElement);
        aud.now_playing_element = collection[0];
    }
    aud.PlayMedia(aud.now_playing_element.getAttribute('path'));
    return false;
}
/** What will play previous */
aud.WhatPrev = function()
{
    if( null == aud.playlistElement )
        return false;
        
    var result;
    if( null == aud.now_playing_element )
        result = null;
    else
        result = aud.now_playing_element.previousElementSibling;
    if( null == result || 0 != result.className.indexOf('index_entry') )
    {
        var collection = aud.Playable(aud.playlistElement);
        result = collection[collection.length-1];
    }
    return result;
}

/** What will play next */
aud.WhatNext = function()
{
    if( null == aud.playlistElement )
        return false;
        
    var result;
    if( null == aud.now_playing_element )
        result = null;
    else
        result = aud.now_playing_element.nextElementSibling;
        
    if( null == result || 0 != result.className.indexOf('index_entry') )
    {
        var collection = aud.Playable(aud.playlistElement);
        result = collection[0];
    }
    return result;
}

// Show folder contents
aud.BrowseFolder = function(id)
{
    aud.Folders.style.display ='none';
    aud.audio_box.style.display ='block';
    aud.PlayList.style.display ='block';

    var collapse = aud.PlayList.children;
    var i;
    var element;
    aud.playlistElement = null;
    for( i = 0; i < collapse.length; ++i )
    {
        element = collapse[i];
        if( id == element.id )
        {
            aud.playlistElement = element;
            element.style.display = 'block';
            aud.MakePlaylist(element); 
        }
        else
        {
            element.style.display = 'none';
        }
    }
    return false;
}

// Show folder list
aud.BrowseFolders = function()
{
    aud.audio.pause();
    aud.audio.src = null;
    aud.now_playing = null;
    aud.Folders.style.display ='block';
    aud.audio_box.style.display ='none';
    aud.PlayList.style.display ='none';

    if( window.scrollTo )
        window.scrollTo(0,0);
    return false;
}

//]]>
</script>

<style type="text/css">

/* 
This is similar to what the following would accomplish, except I just bake it
into the html output with the script.
<link rel="stylesheet" type="text/css" href="template.css"> 
*/

/*INSERT_CSS_HERE*/

/* The remaining CSS is bound to how this page works */
#Folders {
    display: none;
    overflow: hidden;
    padding-left: 10pt;
    width:100%;
}
#PlayList {
    display: none;
    overflow-x: hidden !important;
    padding-left: 10pt;
    width: 100%;
}
/* iOS Shim.  If I make a proper position:fixed; element of the play list, it 
   doesn't scroll right.  So I add a spacer to the top of the content and the
   text doesn't go past that on top.  */ 
#Playlist_shim {
    height: 74pt;
    background-color:#000000;
}

/* Audio player and controls 'fixed' position because Amazon Silk is fuxed. */
#PlayerBox {
    display: none;
    overflow: hidden;
    text-align:center;
    position: fixed;
    width: 100%;
    height: 72pt;
    background-color:#000000;
}
#audioplayer {
    vertical-align:middle !important;
    position: fixed;
    top:3pt;
    left:0pt;
    width: 100%;
    height:32pt;
    outline: 0;
}
#bHome {
    position: fixed;
    top:36pt;
    left:8pt;
}
#audiocontrols {
    position: fixed;
    text-align: center;
    line-height:32pt;
    width: 100%;
    top:   36pt;
    left:  0pt;
}

.folder_page {
    display: none;
}

</style>
</head>

<body onload="aud.PlayerInit();" >
<div id='PlayerBox'>
<audio id="audioplayer" controls>
    Get a <i>modern</i> browser that supports HTML5 Audio.  If you see this, it doesn't, or it is disabled.<br/><br/>
    <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Other Browsers...</a><br/>
</audio>
<div id="audiocontrols">
<button id="bPrev" class="button_format" type="button" tabindex='-1' title="Previous Track" onclick="javascript: return aud.PlayPrev(); "><div class="prev_icon"/></button>
<button id="bRand" class="button_format" type="button" tabindex='-1' title="Shuffled"   onclick="javascript: return aud.PlayListSerial();"><div class="random_icon"/></button>
<button id="bSeq"  class="button_format" type="button" tabindex='-1' title="Sequential" onclick="javascript: return aud.PlayListRandom();"><div class="serial_icon"/></button>
<button id="bNext" class="button_format" type="button" tabindex='-1' title="Next Track" onclick="javascript: aud.PlayNext(); return false;"><div class="next_icon" /></button>
</div>
<button id="bHome" class="button_format" type="button" tabindex='-1' title="Back To Folder List" onclick="return aud.BrowseFolders();"><div class="home_icon"></div></button>
</div>

<!--INDEX_FOLDER
    <div class="folder_entry" style='FOLDER_STYLE'>
        <a onclick="return aud.BrowseFolder('FOLDER_ID');" title="Browse FOLDER_NAME" ><div class="folder_icon"></div>FOLDER_NAME</a>
    </div>
-->
<!--INDEX_FILES_BEGIN
<div id="FOLDER_ID" class="folder_page" style='FOLDER_STYLE'>
    <div id='Playlist_shim'>&nbsp;<br/></div>
    <div class='title'>FOLDER_NAME</div>
-->
<!--INDEX_ITEM
    <div class='index_entry' path="MEDIA_PATH" style='FILE_STYLE' >
        <a onclick="return aud.PlayMedia(this.parentNode.getAttribute('path'),true);" title="Play MEDIA_TITLE" >MEDIA_TITLE</a>
    </div>
-->
<!--INDEX_FILES_END
</div>
-->

<div id='Folders'>
<div class='title'>Browse Music</div>
<!--INDEX_FOLDERS_HERE-->
<div class="info_text">
<br/>
<br/>
<a href="https://github.com/pingnak/videowebscript">Generated by JukeboxScript</a>
<br/>
<br/>
</div>
</div>

<div id='PlayList'>
<!--INDEX_FILES_HERE-->
</div>

</body>
</html>
