<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height">

<link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAXVBMVEUAAAD///8As7UAu7v///////////8AsrYAs7QAs7UAsrQAtbUAs7P///8As7X///////8As7X///////8AsrT///8AsrUAsrX///////8AtLT///////8As7X///8fHS7IAAAAHXRSTlMA768PP79/P79/7x8vb8+vL2/PH4+f308P319PX0HDJacAAAETSURBVFjD7ZbbEkMwEIYjchCiKD033v8x20mlZlSCDTNt+S7c7Tds8ttFaOOfIFmtoQQo2NcNAVBQv5lFwLHqJ45Ch8A8EdopK3iUIIYJ2k84WQ27cKkmBr7HeGsMQb7eMJUp1bASKMjMKey/I0xJEdnBwiYgxAiwclINhsldryKLgFIjEM76WA43UXIHySKnwEz9HXoVc6L55TDmTEPOwPqDaeLB9584T5jCq+jhlAwIGGsEydSh0A1TYUsBH/kGHPgGbQ+k6CVc8pdGfe8BSl83Mf3pRU8DLk9NGKBNuMwbpudltCEdgnYuFI41TckRa95x6lzqzsbj1Mn4MZ2xfThXC4Xp4ruhlNlrR8rOaGN9PAAllFYs17A7SwAAAABJRU5ErkJggg==" />
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

<!-- Apple worms -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA5BAMAAAB+Np62AAAAIVBMVEUAAAD///8As7UAsrYAs7QAsrQAu7sAs7MAtbUAsrUAtLQJVQ+hAAAAAXRSTlMAQObYZgAAAKZJREFUOMtjYBgwwCgIBAI0lGVWQgIhCQhZASBiYEKWVVJAk2XFJQs2mTMIWTaB9j4awrHAoeKCDJRQZVFjQUkpAE8cKSk54NOrWoDqqmJjZGBBjVgAydImGmgdC2yL4OGk2YAh24QUjGrIsuBYQA5kZQy9Rrj0gmXZseWTQRsLjPispUZOYUZOkgVoskwopYpSAWoscGLNCvASCWs2wp4HXYdseQUA8Fk7aXH77bkAAAAASUVORK5CYII=" />

<title>TITLE_TEXT</title>

<script type="text/javascript">
//<![CDATA[
/** A namespace for all of these otherwise global things, to keep them all together */
var media = {};

media.bFullscreenEnabled = document.bFullscreenEnabled || document.webkitFullscreenEnabled || document.mozFullScreenEnabled || document.msFullscreenEnabled;
media.bUseNativeControls = false;//!media.bFullscreenEnabled || /Android|Silk|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
media.bPrintEnabled = !(/Android|Silk|webOS|iPhone|iPad|iPod|iOS|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));

media.mode_folders = 'folders';
media.mode_folder  = 'folder';
media.mode_player  = 'player';
media.mode = media.mode_folders;

media.playlist = [];
media.playlist_id = '';
media.now_playing = null;
media.playlistElement = null;
media.now_playing_element = null;

media.bVideoResumable = false;
media.bShuffle = false;
media.mouseTimeout = -1;
media.resizeTimeout = -1;
media.MOUSE_TIMEOUT = 3000;
media.lastScreenY = -1; 
media.lastScreenX = -1;
media.bTrackingProgress = false;
media.FoldersScroll = window.scrollY;

/**
 * Set things up, when the page loads
**/
media.PlayerInit = function()
{
    /* If no full screen, or some kinda 'mobile' browser that ignores all the rules, use the native controls */
    media.video =               document.getElementById("videoplayer");
    media.video_controls  =     document.getElementById("video_controls");
    media.video_controls_left = document.getElementById("video_controls_left");
    media.video_controls_right =document.getElementById("video_controls_right");
    media.overlay_controls =    document.getElementById("overlay_controls");
    media.Folders =             document.getElementById("Folders");
    media.PlayList =            document.getElementById("PlayList");
    media.PlayerBox =           document.getElementById("PlayerBox");
    media.bHome =               document.getElementById("bHome");
    media.bList =               document.getElementById("bList");
    media.bWatch =              document.getElementById("bWatch");
    media.bPrint =              document.getElementById("bPrint");

    media.progress_bar =        document.getElementById("progress_bar");
    media.progress_text =       document.getElementById("progress_text");
    media.progress_text_total = document.getElementById("progress_text_total");
    media.progress_text_title = document.getElementById("progress_text_title");
    media.progress_playing =    document.getElementById("progress_playing");
    media.progress_clickme =    document.getElementById("progress_clickme");
    
    media.bPrev =               document.getElementById("bPrev");
    media.bNext =               document.getElementById("bNext");
    media.bSeq  =               document.getElementById("bSeq");
    media.bRand =               document.getElementById("bRand");

    media.bPlay =               document.getElementById("bPlay");
    media.bPause =              document.getElementById("bPause");
    media.bFull =               document.getElementById("bFull");
    media.bWindow =             document.getElementById("bWindow");

    // Set up play lists so that they can be sorted after being shuffled
    var collection = document.getElementsByClassName("index_entry");
    var i;
    for( i = 0; i < collection.length; ++i )
    {
        collection[i].index = i;
    }

    media.SetupPrint();    
    media.BrowseFolders();

    // Mouse moved or screen touched
    window.addEventListener(        'mousemove',    media.MouseMovedFilter );

    // Tap to pause/play (and show controls)
    media.video.addEventListener(   'click',        media.TogglePause );
    
    //media.video.addEventListener( 'canplay',      media.WatchMode );
    media.video.addEventListener(   'ended',        media.PlayNextWrap );
    window.addEventListener(        'resize',       media.OnResize );
    media.video.addEventListener(   'playing',      media.OnResize );
    media.video.addEventListener(   'pause',        media.OnResize );
    media.video.addEventListener(   'loadeddata',   media.OnResize );

    media.RefreshControls();
}

media.Error = function(e)
{
    console.log(e);
    media.video.innerHTML = "Video Playback Error: " + e;
    //media.BrowseFolder();
}


/** Press pause/play button */
media.TogglePause = function()
{
    media.MouseMoved();
    media.RefreshControls();
    if( 0 == media.video.readyState )
        media.PlayMedia();
    else if( media.video.paused )
        media.video.play();
    else
        media.video.pause();
    return false;
}

/** When video is paused, change to show playing icon */
media.ShowPaused = function()
{
    if( media.video.paused )
    {
        media.bPlay.style.display = 'none';
        media.bPause.style.display= '';
    }
    else
    {
        media.bPlay.style.display = '';
        media.bPause.style.display= 'none';
        media.bVideoResumable = true;
    }
    media.RefreshControls();
    return false;
}

/** Press full-screen button */
media.ToggleFullScreen = function()
{
    if( media.IsFullScreen() )
        media.ExitFullscreen();
    else
        media.EnterFullscreen();
    return false;
}

/** See if video is not full-screen */
media.IsFullScreen = function()
{
    var fullscreenElement = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement;
    return (null != fullscreenElement) || window.fullScreen || (window.innerWidth == screen.width && window.innerHeight == screen.height);
}
media.FullScreenWasMe = function()
{
    var fullscreenElement = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement;
    return document.documentElement == fullscreenElement;
}

/** Update full-screen status */
media.UpdateFullScreen = function()
{
    // Sort out full versus windowed playbacl
    if( !media.bFullscreenEnabled )
    {
        media.bFull.style.display='none';
        media.bWindow.style.display='none';
        return;
    }
    if( media.IsFullScreen() )
    {
        if( media.FullScreenWasMe() )
        {
            media.bWindow.style.display='';
            media.bFull.style.display='none';
        }
        else
        {   // Something else put us into full screen - I can't un-full-screen from that
            media.bFull.style.display='none';
            media.bWindow.style.display='none';
        }
    }
    else
    {
        media.bWindow.style.display='none';
        media.bFull.style.display='';
    }

}

/** Enter full screen mode */
media.EnterFullscreen = function()
{
    if(document.documentElement.requestFullscreen) 
    {
        document.documentElement.requestFullscreen();
    }
    else if(document.documentElement.webkitRequestFullscreen) 
    {
        document.documentElement.webkitRequestFullscreen();
    }
    else if(document.documentElement.mozRequestFullScreen) 
    {
        document.documentElement.mozRequestFullScreen();
    } 
    else if(document.documentElement.msRequestFullscreen) 
    {
        document.documentElement.msRequestFullscreen();
    }
    media.UpdateFullScreen();
}

/** Exit full screen mode */
media.ExitFullscreen = function()
{
    if(document.ExitFullscreen) 
    {
        document.ExitFullscreen();
    }
    else if(document.mozCancelFullScreen) 
    {
        document.mozCancelFullScreen();
    } 
    else if(document.webkitExitFullscreen) 
    {
        document.webkitExitFullscreen();
    }
    else if(document.msExitFullscreen)
    {
        document.msExitFullscreen();
    }
    media.UpdateFullScreen();
}

/** Format seconds to hh:mm:ss */
media.hhmmss = function(t)
{
    if( isNaN(t) )
        return '00\:00\:00';
        
    var ss = Math.floor(t % 60);
    var mm = Math.floor((t / 60) % 60);
    var hh = Math.floor(t / 3600);
    return '' + ((hh < 10) ? '0'+hh : hh) +':'+((mm < 10) ? '0'+mm : mm)+':'+((ss < 10) ? '0'+ss : ss); 
}
/** Update progress */
media.UpdateTime = function()
{   
    if( !media.bTrackingProgress )
        media.RefreshProgress(media.video.currentTime,media.video.duration);
    return false;
}
/** Refresh play time */
media.RefreshProgress = function(seconds,duration)
{
    media.progress_text.innerHTML = media.hhmmss(seconds);
    media.progress_text_total.innerHTML = media.hhmmss(duration);
    if( isNaN(media.video.duration) || duration < 1 )
    {
        media.progress_playing.style.width = '0%';
    }
    else
    {
        media.progress_playing.style.width = (100*seconds/duration)+'%';
    }
}

/** 
 One of the reasons I loathe 'web technolog'.  
 Half a dozen kinds of 'position' on an event, according  
 to what browser.
 http://www.kirupa.com/html5/getting_mouse_click_position.htm
 */
media.getClickPosition = function(e)
{
    var parentPosition = media.getPosition(e.currentTarget);
    var xPosition = e.clientX - parentPosition.x;
    var yPosition = e.clientY - parentPosition.y;
    return { x: xPosition, y: yPosition };
}
/** Get position of element, on-screen */
media.getPosition = function(element)
{
    var xPosition = 0;
    var yPosition = 0;
    var elementcurr = element; 
    while (elementcurr) {
        xPosition += (elementcurr.offsetLeft - elementcurr.scrollLeft + elementcurr.clientLeft);
        yPosition += (elementcurr.offsetTop - elementcurr.scrollTop + elementcurr.clientTop);
        elementcurr = elementcurr.offsetParent;
    }
    return { x: xPosition, y: yPosition, w:element.clientWidth, h:element.clientHeight };
}

/** Convert mouse position to time */
media.getProgressFromMouse = function(e)
{
    var pt = media.getClickPosition(e);
    var fraction = pt.x/media.progress_clickme.clientWidth;
    return fraction;
}
/** Seek to clicked time */
media.ProgressClick = function(e)
{
    media.MouseMoved();
    var fraction = media.getProgressFromMouse(e);
    var time= media.video.duration * fraction;
    media.video.currentTime = time;
}
/** Mouse entered progress; disable time updates */
media.ProgressIn = function(e)
{
    media.bTrackingProgress = true;
    media.MouseMoved();
    media.ProgressTrackMouse(e);
}
/** Mouse exited progress; enable time updates */
media.ProgressOut = function(e)
{
    media.bTrackingProgress = false;
    media.MouseMoved();
    media.UpdateTime();
}
/** Update progress bar and time with mouse motion */
media.ProgressTrackMouse = function(e)
{   /* Keep progress stamps from stomping on my tracking */
    media.MouseMoved();
    var fraction = media.getProgressFromMouse(e);
    var time= media.video.duration * fraction;
    media.RefreshProgress(time,media.video.duration);
}

/** We should know how big&long the video is, so we can update it*/
media.UpdateMeta = function()
{
    media.UpdateTime();
    media.RefreshControls();
}

/**
 * Set things up, when the page loads
**/
media.MouseTimeout = function()
{
    if( media.mode_player == media.mode )
    {
        media.overlay_controls.style.visibility = 'hidden';
        media.video_controls.style.visibility = 'hidden';
        media.PlayerBox.style.cursor = 'none';
        media.mouseTimeout = -1;
    }
    else
    {
        media.MouseMoved();
    }
}

/** Only call MouseMoved if the mouse... moved. */
media.MouseMovedFilter = function(e)
{
    if( Math.abs(e.screenX - media.lastScreenX)+Math.abs(e.screenY - media.lastScreenY) > 1 )
        media.MouseMoved();
    media.lastScreenX = e.screenX;
    media.lastScreenY = e.screenY;
}
/** Show the mouse and controls */
media.MouseMoved = function()
{
    media.video_controls.style.visibility = '';
    media.overlay_controls.style.visibility = '';
    media.PlayerBox.style.cursor = '';
    if( -1 != media.mouseTimeout )
        clearTimeout(media.mouseTimeout);
    if( media.mode_player == media.mode && !media.video.paused )
        media.mouseTimeout = setTimeout( media.MouseTimeout, media.MOUSE_TIMEOUT );
    return true;
}

/** Window changed: Organize and update controls */
media.OnResize = function()
{
    // Because some browsers don't have this figured out yet, even though they called me
    if( -1 != media.resizeTimeout )
        clearTimeout( media.resizeTimeout );
    media.resizeTimeout = setTimeout( media.RefreshControls, 34 );
}
media.RefreshControls = function()
{
    media.resizeTimeout = -1;

    media.browserWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    media.browserHeight= window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
    
    // Manage all of the mode-based button/pane states on top-right menu
    switch( media.mode )
    {
    case media.mode_player:
        media.overlay_controls.style.background = 'transparent';
        media.Folders.style.display = 'none';
        media.PlayList.style.display = 'none';
        media.PlayerBox.style.display = 'block';
        media.bHome.style.display = '';
        media.bList.style.display = '';
        media.bWatch.style.display = 'none';
        media.bPrev.style.display = '';
        media.bNext.style.display = '';
        media.bSeq.style.display = media.bShuffle ? 'none' : '';
        media.bRand.style.display = media.bShuffle ? '' : 'none';
        media.bPrint.style.display = 'none';
        break;
    case media.mode_folder:
        media.overlay_controls.style.background = '#000000';
        media.Folders.style.display = 'none';
        media.PlayList.style.display = 'block';
        media.PlayerBox.style.display = 'none';
        media.bHome.style.display = '';
        media.bList.style.display = 'none';
        media.bWatch.style.display = media.bVideoResumable ? '' : 'none';
        media.bPrev.style.display = '';
        media.bNext.style.display = '';
        media.bSeq.style.display = media.bShuffle ? 'none' : '';
        media.bRand.style.display = media.bShuffle ? '' : 'none';
        media.bPrint.style.display = media.bPrintEnabled ? '' : 'none';
        media.bPrint.title = "Print List of Titles in This Folder";
        break;
    case media.mode_folders:
    default: // Fall-through
        media.overlay_controls.style.background = '#000000';
        media.Folders.style.display = 'block';
        media.PlayList.style.display = 'none';
        media.PlayerBox.style.display = 'none';
        media.bHome.style.display = 'none';
        media.bList.style.display = 'none';
        media.bWatch.style.display= 'none';
        media.bPrev.style.display = 'none';
        media.bNext.style.display = 'none';
        media.bSeq.style.display  = 'none';
        media.bRand.style.display = 'none';
        media.bPrint.style.display = media.bPrintEnabled ? '' : 'none';
        media.bPrint.title = "Print List of All Media Titles";
        break;
    }

    media.bTrackingProgress = false;
    
    media.progress_clickme.removeEventListener( 'mousemove',media.ProgressTrackMouse );    
    media.progress_clickme.removeEventListener( 'click',    media.ProgressClick );
    media.progress_clickme.removeEventListener( 'mouseover',media.ProgressIn );     
    media.progress_clickme.removeEventListener( 'mouseout', media.ProgressOut ); 

    media.video.removeEventListener( 'playing',       media.ShowPaused );
    media.video.removeEventListener( 'pause',         media.ShowPaused );
    media.video.removeEventListener( 'timeupdate',    media.UpdateTime );
    media.video.removeEventListener( 'loadeddata',    media.UpdateMeta );

    media.bUseNativeControls = media.browserWidth < 640 
        // || !media.bFullscreenEnabled 
        // || /Android|Silk|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    
    if( media.bUseNativeControls )
    {
        /* If full-screen is unavailable to code, stick to native controls */
        media.video.setAttribute("controls",true);
        media.video_controls.style.display = 'none';
    }
    else
    {
        if( media.video.hasAttribute("controls") )
            media.video.removeAttribute("controls");
        media.video_controls.style.display = '';

        /* Had to add a layer on top of progress bar, to click */
        media.progress_clickme.addEventListener( 'mousemove',media.ProgressTrackMouse );    
        media.progress_clickme.addEventListener( 'click',    media.ProgressClick );
        media.progress_clickme.addEventListener( 'mouseover',media.ProgressIn );     
        media.progress_clickme.addEventListener( 'mouseout', media.ProgressOut ); 

        media.video.addEventListener( 'playing',          media.ShowPaused );
        media.video.addEventListener( 'pause',            media.ShowPaused );
        media.video.addEventListener( 'timeupdate',       media.UpdateTime );
        media.video.addEventListener( 'loadeddata',       media.UpdateMeta );
    }
    
    
    // If window is shorter than video, when scaled, fit to height instead of width
    var videoAspect = media.video.videoWidth / media.video.videoHeight;
    var windowAspect = window.innerWidth / window.innerHeight;
    var screenAspect = screen.width / screen.height;
    if( videoAspect < windowAspect ) // Second test because Silk doesn't work right
    {
        media.video.className = 'videoplayer_alt';
    }
    else 
    {
        media.video.className = 'videoplayer';
    }
    
    // Sort out full versus windowed playbacl
    media.UpdateFullScreen();
    media.MouseMoved();
    return false;
}


/*
 * Play a video
 * http://www.w3.org/2010/05/video/mediaevents.html
 */
media.PlayMedia = function(media_path,noscroll)
{
    // Setting attributes blows up
    noscroll = noscroll || false;
    
    media.now_playing = media_path || media.now_playing;
    if(!media.now_playing)
    {
        var collection = media.Playable(media.playlistElement);
        media.now_playing = collection[0].getAttribute('path');
    }
    if( media.HighlightPlaying(noscroll) )
    {
        setTimeout( media.PlayMedia2, 10);
        media.RefreshControls();
        media.bNext.setAttribute( 'title', "Next: " + media.WhatNext().textContent );
        media.bPrev.setAttribute( 'title', "Prev: " + media.WhatPrev().textContent );
        media.ShowPaused();
    }
    return false;
}

/** Setting next/prev attributes kills the video... so let the stack unwind and start it second */
media.PlayMedia2 = function()
{
    media.video.addEventListener( 'error', media.Error );
    if( media.video.src.indexOf( media.now_playing ) + media.now_playing.length != media.video.src.length )
    {
        media.video.src = media.now_playing;
        media.video.load();
    }
    media.video.play();
    media.MouseMoved();
    media.bTrackingProgress = false;
    media.WatchMode();

    // Clear any progress from previous video
    media.RefreshProgress(0,0);

    // Show title in seek bar
    media.progress_text_title.innerHTML = media.now_playing_element.textContent;
}

/** Convert DOM collections of index_entry objects to array */
media.Playable = function(element)
{
    var i;
    var curr;
    var result = new Array();
    collection = element.children;
    for( i = 0; i < collection.length; ++i )
    {
        curr = collection[i];
        if( "index_entry" == curr.className || "index_entry_highlight" == curr.className )
            result.push(collection[i]);
    }
    return result;
}


/** Show which item is playing in the play list */
media.HighlightPlaying = function(noscroll)
{
    var collection;
    var i;
    var curr;
    media.now_playing_element = null;
    
    // Find and reset elements 
    if( null == media.playlistElement )
    {
        collection = media.Playable(document);
        for( i = 0; i < collection.length; ++i )
        {
            curr = collection[i];
            if( curr.getAttribute('path') == media.now_playing )
            {
                media.BrowseFolder(curr.parentNode.id);
                media.now_playing_element = curr;
            }
            delete curr.style;
            curr.className = 'index_entry';
        }
    }
    else
    {
        collection = media.Playable(media.playlistElement);
        for( i = 0; i < collection.length; ++i )
        {
            curr = collection[i];
            if( curr.getAttribute('path') == media.now_playing )
            {
                media.now_playing_element = curr;
            }
            delete curr.style;
            curr.className = 'index_entry';
        }
    }
    if( null == media.now_playing_element )
    {
        console.log( "Media not found in internal play lists:", media.now_playing );
        window.scrollTo(0,0);
        return false;
    }

    // Highlight what we found
    item = media.now_playing_element;
    item.className = 'index_entry_highlight';
    if( !noscroll && item.scrollIntoView )
    {
        var browserHeight= window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
        item.scrollIntoView();
        if( item.offsetTop - window.scrollY <= media.overlay_controls.clientHeight )
            window.scrollTo(0,window.scrollY-(0.5*media.browserHeight));
    }
    return true;
}


/** Make a play list from title links */
media.MakePlaylist = function(playlistElement,bRebuild)
{
    bRebuild = bRebuild || true;
    if( media.bShuffle )
    {
        media.bRand.style.display = '';
        media.bSeq.style.display  = 'none';
    }
    else
    {
        media.bRand.style.display = 'none';
        media.bSeq.style.display  = '';
    }
    playlistElement = playlistElement || media.playlistElement;
    if( null == playlistElement )
    {
        media.playlistElement = null;
        media.bNext.setAttribute( 'title', "" );
        media.bPrev.setAttribute( 'title', "" );
        return media.playlist = [];
    }
    media.playlistElement = playlistElement;

    var playlist = media.Playable(media.playlistElement);

    if( media.bShuffle && bRebuild ) 
    {
        media.ArrayShuffle(playlist);
        media.ArrayShuffle(playlist);
        media.ArrayShuffle(playlist);
    }
    else
    {
        playlist.sort( function(a,b) { return a.index - b.index; } )
    }

    // Order play list from sort/shuffle, reset index_entry, load any thumbnails for this list
    var i;
    var curr;
    for( i = 0; i < playlist.length; ++i )
    {
        curr = playlist[i];
        curr.className = 'index_entry';
        playlistElement.appendChild(curr);
        img = curr.getElementsByTagName('img')[0];
        if( img && !img.src )
        {
            img.src = img.getAttribute("defer");
        }
    }
    
    media.bNext.setAttribute( 'title', "Next: " + media.WhatNext().textContent );
    media.bPrev.setAttribute( 'title', "Prev: " + media.WhatPrev().textContent );

    media.HighlightPlaying(true);

    return playlist;
}

/** Shuffle a play list */
media.PlayListSerial = function()
{
    media.MouseMoved();
    media.bShuffle = false;
    media.MakePlaylist();
    media.PlayMedia();
    return false;
}

/** Shuffle a play list (assumes it was already generated) */
media.PlayListRandom = function()
{
    media.MouseMoved();
    media.bShuffle = true;
    media.MakePlaylist();
    media.PlayMedia();
    return false;
}
/**
 * Shuffle an array
 * @param array Array to shuffle in-place
 * @return Array passed in
**/
media.ArrayShuffle = function(array)
{
    var ri;
    var tmp;
    var i = array.length;
    while( i-- )
    {
        ri = Math.floor(Math.random() * array.length);
        tmp = array[i];
        array[i] = array[ri];
        array[ri] = tmp;
    }
    return array;
}

/** Play the previous one */
media.PlayPrev = function()
{
    if( !media.audio.paused && media.audio.currentTime > 3 )
    {
        media.audio.currentTime = 0;
        media.audio.play();
    }
    else
    {
        media.PlayMedia(media.WhatPrev().getAttribute('path'));
    }
    return false;
}
/** Play the next one */
media.PlayNext = function()
{
    media.PlayMedia(media.WhatNext().getAttribute('path'));
    return false;
}
/** At end of play list, re-shuffle as appropriate */
media.PlayNextWrap = function()
{
    if( null == media.playlistElement )
        return false;
        
    media.now_playing_element = media.now_playing_element.nextElementSibling;
    if( null == media.now_playing_element )
    {
        if( media.bShuffle )
        {
            return media.PlayListRandom();
        }
        var collection = media.Playable(media.playlistElement);
        media.now_playing_element = collection[0];
    }
    media.PlayMedia(media.now_playing_element.getAttribute('path'));
    return false;
}
/** What will play previous */
media.WhatPrev = function()
{
    if( null == media.playlistElement )
        return false;
        
    var result;
    if( null == media.now_playing_element )
        result = null;
    else
        result = media.now_playing_element.previousElementSibling;
    if( null == result || 0 != result.className.indexOf('index_entry') )
    {
        var collection = media.Playable(media.playlistElement);
        result = collection[collection.length-1];
    }
    return result;
}

/** What will play next */
media.WhatNext = function()
{
    if( null == media.playlistElement )
        return false;
        
    var result;
    if( null == media.now_playing_element )
        result = null;
    else
        result = media.now_playing_element.nextElementSibling;
        
    if( null == result || 0 != result.className.indexOf('index_entry') )
    {
        var collection = media.Playable(media.playlistElement);
        result = collection[0];
    }
    return result;
}


/**
 * Show video, if it can resume
**/
media.WatchMode = function()
{
    media.mode = media.mode_player;
    media.RefreshControls();

    if( media.video.paused )
    {
        media.video.play();
    }
    return false;
}

/**
 * List contents of folder 
**/
media.BrowseFolder = function( id )
{
    // Save scroll position for folder list
    if( media.mode_folders == media.mode )
        media.FoldersScroll = window.scrollY;

    media.video.pause();

    var bRebuild = false;
    if( !id && media.playlistElement )
    {
        id = media.playlistElement.id;
        bRebuild = media.playlist_id != id;
    }
    media.playlist_id = id;
    
    // Make the appropriate folder visible
    var collapse = media.PlayList.children;
    var i;
    var element;
    media.playlistElement = null;
    for( i = 0; i < collapse.length; ++i )
    {
        element = collapse[i];
        if( id == element.id )
        {
            media.playlistElement = element;
            element.style.display = 'block';
            media.MakePlaylist(element, bRebuild );
        }
        else
        {
            element.style.display = 'none';
        }
    }

    media.mode = media.mode_folder;
    media.RefreshControls();
    media.HighlightPlaying();
    
}
    
/**
 * Browse main folder list 
**/
media.BrowseFolders = function()
{
    media.mode = media.mode_folders;
    media.RefreshControls();

    // Stop playback
    media.video.pause();
    media.video.removeEventListener( 'error', media.Error );
    media.now_playing = null;
    media.video.src = '';
    media.bVideoResumable = false;
    // Restore folder list position
    if( window.scrollTo )
        window.scrollTo(0,media.FoldersScroll);
    media.playlist_id = '';
    return false;
}

/**
 * Capturing the browser Ctrl/Cmd+P or Menu->Print to put the page into a 
 * pritable mode... is completely buggered across browsers.
 *
 * Provide a print icon to positively put it in the right mode, but at least try.
**/
media.DoPrint = function()
{
    media.BeforePrint();
    window.print();
    media.AfterPrint();
}

/**
 * Capture print before dialog pops up, and put the UI into a printable mode
 * Implemented like it would work... if it worked consistently at all
**/
media.BeforePrint = function()
{
    // Show all play lists
    media.overlay_controls.style.display = 'none';
    media.PlayerBox.style.display = 'none';
    media.Folders.style.display = 'none';
    media.PlayList.style.display = 'block';
        
    var i;
    var element;
    var show;
    if( media.mode_folders == media.mode )
    {
        show = media.PlayList.children;
        for( i = 0; i < show.length; ++i )
        {
            element = show[i];
            element.style.display = 'block';
        }
    }
    show = media.Playable(document);
    for( i = 0; i < show.length; ++i )
    {
        element = show[i];
        element.className = 'index_entry';
    }
    //setTimeout( media.AfterPrint, 100 );
}

/**
 * After (preumed MODAL) print dialog, put UI back 
**/
media.AfterPrint = function()
{
    media.overlay_controls.style.display = '';
    if( media.mode_folders == media.mode )
    {
        media.BrowseFolders();
    }
    else
    {
        media.BrowseFolder();
    }
}

/**
 * Setup print.  I expect this to break as browser wars progress
**/
media.SetupPrint = function()
{
    // IE/Firefox ONLY (coincidentally don't do 'matchMedia' right)
    if( "onbeforeprint" in window && "onafterprint" in window )
    {
        window.onbeforeprint = media.BeforePrint;
        window.onafterprint = media.AfterPrint;
    }
    else if (window.matchMedia) 
    {
        // Chrome, Safari
        var mediaQueryList = window.matchMedia('print');
        mediaQueryList.addListener(function(mql) 
        {
            if (mql.matches) 
            {
                media.BeforePrint();
            }
            else
            {
                media.AfterPrint();
            }
        });
    }
    // Else... use that print icon, or get something not very ideal
}

//]]>
</script>

<!-- 
The 'INSERT_CSS_HERE is similar to what the following would accomplish, except 
it gets baked into the html output with the script.
<link rel="stylesheet" type="text/css" href="template.css"> 
-->

<style type="text/css">

/*INSERT_CSS_HERE*/

/* The remaining CSS is bound to how this page works */

/* Video player modes for windowed/full-screen */
#PlayerBox {
    display: none;
    overflow: hidden;
    margin: 0px !important;
    padding:0px !important;
    width:100%;
    height:100%;
    background-color:#000000;
}
#PlayList, #Folders {
    display: none;
    overflow-x: hidden !important;
    padding-left: 10pt;
    width: 100%;
}
/* iOS Shim.  If I make a proper position:fixed; element of the play list, it 
   doesn't scroll right.  So I add a spacer to the top of the content and the
   text doesn't go past that on top.  */ 
#Playlist_shim {
    height: 45pt;
    background-color:#000000;
}

.videoplayer, .videoplayer_alt {
    position: fixed;
    overflow: hidden;
    margin: 0 !important;
    padding:0 !important;
    outline: 0;
    z-index:0;
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); 
}
/* Full-screen video player, wide aspect */
.videoplayer {
    width:100%;
    height:auto;
}
/* Full-screen video player, square-ish aspect */
.videoplayer_alt {
    height:100%;
    width:auto;
}

/* Skinned control panel mode for windowed and full-screen */
#video_controls, #overlay_controls {
    position: fixed;
    height: 44pt !important;
    line-height: 0px;
    font-size: 0px;
    vertical-align: middle;
    margin: 0;
    padding:0;
    overflow: hidden !important;
    white-space:nowrap;
}
#video_controls {
    bottom: 0pt;
    width:100%;
    background: transparent;
    display: table;
}
#overlay_controls {
    position: fixed;
    top: 0pt;
    width:100%;
    background: #000000;
    display: block;
}
#overlay_controls_left {
    position: absolute;
    top: 8pt;
    left:0pt;
}
#overlay_controls_center {
    position: absolute;
    text-align:center;
    top: 8pt;
    width: 100%;
}
#overlay_controls_right {
    position: absolute;
    top: 8pt;
    right:0pt;
}

/* Skinned control panel icons in left and right boxes */
#video_controls_left, #video_controls_right {
    display: table-cell;
    width: 1px;
    box-sizing: border-box;
}
#video_controls_left {
    padding-left: 8pt;
    padding-right: 4pt;
    left: 0px;
}
#video_controls_right {
    padding-left: 4pt;
    padding-right: 8pt;
    right:0px;
}

/* Progress bar elements between left and right boxes */
#progress_bar {
    display: table-cell;
    position: relative;
    width: auto;
    box-sizing: border-box;
}
#progress_playing, #progress_text, #progress_text_total, #progress_text_title, #progress_clickme {
    color: #c0c0c0;
    position: absolute;
    white-space:nowrap;
    overflow: hidden;
    top:0px;
    height: 32pt;
    line-height: 32pt;
    font-size: 12pt;
}
#progress_playing {
    z-index:2;
    top: 1pt;
    height: 31pt;
    opacity: 0.25;
    background-color: #ff0000;
}
#progress_text {
    text-align: left;
    z-index:3;
    left: 1%;
    width: 98%;
    text-shadow: 1pt 1pt #000000;
}
#progress_text_total {
    text-align: right;
    z-index:4;
    left: 1%;
    width: 98%;
    text-shadow: 1pt 1pt #000000;
}
#progress_text_title {
    text-align: center;
    z-index:5;
    left: 0%;
    width: 100%;
    text-shadow: 1pt 1pt #000000;
}
#progress_clickme {
    z-index:6;
    top: 1pt;
    height: 30pt;
    border: 1pt solid #303030;
    width: 100%;
    overflow:visible;
}

@media print {
#Playlist_shim {
    display: none;
}
}
</style>

</head>


<body onload="media.PlayerInit();" >
<div id='PlayerBox' >

<video id="videoplayer" class='videoplayer' >
    Get a <i>modern</i> browser that supports HTML5 Video.  If you see this, it doesn't, or video is disabled.<br/><br/>
    <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Other Browsers...</a><br/>
</video>

<div id="video_controls">
    <div id="video_controls_left">
        <button id="bPlay"  class="button_format" type="button" tabindex='-1' title="Playing" onclick="javascript: return media.TogglePause(); "><div class="play_icon"></div></button>
        <button id="bPause" class="button_format" type="button" tabindex='-1' title="Paused"  onclick="javascript: return media.TogglePause(); "><div class="pause_icon"></div></button>
    </div>
    <div id="progress_bar">
        <div id="progress_playing"></div>
        <div id="progress_text">00:00:00</div>
        <div id="progress_text_total">00:00:00</div>
        <div id="progress_text_title"></div>
        <div id="progress_clickme"></div>
    </div>
    <div id="video_controls_right"></div>
</div>

</div>

<!--INDEX_FOLDER
    <div class='folder_entry' style='FOLDER_STYLE'>
        <a onclick="return media.BrowseFolder('FOLDER_ID');" title="Browse FOLDER_NAME" ><div class="folder_icon"></div>FOLDER_NAME</a>
    </div>
-->
<!--INDEX_PLAYLIST
    <div class='playlist_entry' style='FOLDER_STYLE'>
        <a onclick="return media.BrowseFolder('FOLDER_ID');" title="Browse Play List FOLDER_NAME" ><div class="playlist_icon"></div>FOLDER_NAME</a>
    </div>
-->

<!--INDEX_FILES_BEGIN
<div id="FOLDER_ID" class="folder_page" style='FOLDER_STYLE'>
    <div id='Playlist_shim'>&nbsp;<br/></div>
    <div class='title'>FOLDER_NAME</div>
-->
<!--INDEX_ITEM_THUMB
    <div class="index_entry" title="Play MEDIA_TITLE" path="MEDIA_PATH" style='MEDIA_STYLE' onclick="javascript: media.PlayMedia(this.getAttribute('path'),true); return false;"><a><img class="index_thumbnail" defer="MEDIA_IMAGE" />MEDIA_TITLE</a></div>
-->

<!--INDEX_ITEM_NOTHUMB
    <div class="index_entry" title="Play MEDIA_TITLE" path="MEDIA_PATH" style='MEDIA_STYLE' onclick="javascript: media.PlayMedia(this.getAttribute('path'),true); return false;"><a>MEDIA_TITLE</a></div>
-->

<!--INDEX_FILES_END
</div>
-->

<div id='Folders' >
<div id='Playlist_shim'>&nbsp;<br/></div>
<div class='title'>Browse Videos</div>
<!--INDEX_FOLDERS_HERE-->
<div class="info_text">
<br/>
<br/>
<a href="https://github.com/pingnak/videowebscript">Generated by VideoWebScript</a>
<br/>
<br/>
</div>
</div>

<div id='PlayList' >
<!--INDEX_FILES_HERE-->
</div>
<div id="overlay_controls" >
    <div id="overlay_controls_center">
    <button id="bPrev"  class="button_format" type="button" tabindex='-1' title="Prev Video" onclick="javascript: return media.PlayPrev(); "><div class="prev_icon"></div></button>
    &nbsp;
    <button id="bSeq"   class="button_format" type="button" tabindex='-1' title="Sequential" onclick="javascript: return media.PlayListRandom();"><div class="serial_icon"></div></button>
    <button id="bRand"  class="button_format" type="button" tabindex='-1' title="Shuffled"   onclick="javascript: return media.PlayListSerial();"><div class="random_icon"></div></button>
    &nbsp;
    <button id="bNext"  class="button_format" type="button" tabindex='-1' title="Next Video" onclick="javascript: return media.PlayNext();"><div class="next_icon"></div></button>
    </div>
    <div id="overlay_controls_left">
    <button id="bHome"  class="button_format" type="button" tabindex='-1' title="Back To Folder List" onclick="return media.BrowseFolders();"><div class="home_icon"></div></button>
    &nbsp;
    <button id="bWatch" class="button_format" type="button" tabindex='-1' title="Resume Video" onclick="javascript: return media.WatchMode();" ><div class="player_icon"></div></button>
    <button id="bList"  class="button_format" type="button" tabindex='-1' title="Browse Videos" onclick="javascript: return media.BrowseFolder();"><div class="list_icon"></div></button>
    </div>
    <div id="overlay_controls_right">
    <button id="bPrint"  class="button_format" type="button" tabindex='-1' title="Print File List" onclick="javascript: return media.DoPrint();"><div class="print_icon"></div></button>
    <button id="bFull"  class="button_format" type="button" tabindex='-1' title="Show Full Screen" onclick="javascript: return media.ToggleFullScreen();"><div class="full_icon"></div></button>
    <button id="bWindow" class="button_format" type="button" tabindex='-1' title="Exit Full Screen" onclick="javascript: return media.ToggleFullScreen();"><div class="window_icon"></div></button>
    </div>
</div>

</body>
</html>
