<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, height=device-height">
<meta charset="UTF-8">
<title>TITLE_TEXT</title>
<link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAXVBMVEUAAAD///8As7UAu7v///////////8AsrYAs7QAs7UAsrQAtbUAs7P///8As7X///////8As7X///////8AsrT///8AsrUAsrX///////8AtLT///////8As7X///8fHS7IAAAAHXRSTlMA768PP79/P79/7x8vb8+vL2/PH4+f308P319PX0HDJacAAAETSURBVFjD7ZbbEkMwEIYjchCiKD033v8x20mlZlSCDTNt+S7c7Tds8ttFaOOfIFmtoQQo2NcNAVBQv5lFwLHqJ45Ch8A8EdopK3iUIIYJ2k84WQ27cKkmBr7HeGsMQb7eMJUp1bASKMjMKey/I0xJEdnBwiYgxAiwclINhsldryKLgFIjEM76WA43UXIHySKnwEz9HXoVc6L55TDmTEPOwPqDaeLB9584T5jCq+jhlAwIGGsEydSh0A1TYUsBH/kGHPgGbQ+k6CVc8pdGfe8BSl83Mf3pRU8DLk9NGKBNuMwbpudltCEdgnYuFI41TckRa95x6lzqzsbj1Mn4MZ2xfThXC4Xp4ruhlNlrR8rOaGN9PAAllFYs17A7SwAAAABJRU5ErkJggg==" />
<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

<!-- Apple worms -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA5BAMAAAB+Np62AAAAIVBMVEUAAAD///8As7UAsrYAs7QAsrQAu7sAs7MAtbUAsrUAtLQJVQ+hAAAAAXRSTlMAQObYZgAAAKZJREFUOMtjYBgwwCgIBAI0lGVWQgIhCQhZASBiYEKWVVJAk2XFJQs2mTMIWTaB9j4awrHAoeKCDJRQZVFjQUkpAE8cKSk54NOrWoDqqmJjZGBBjVgAydImGmgdC2yL4OGk2YAh24QUjGrIsuBYQA5kZQy9Rrj0gmXZseWTQRsLjPispUZOYUZOkgVoskwopYpSAWoscGLNCvASCWs2wp4HXYdseQUA8Fk7aXH77bkAAAAASUVORK5CYII=" />

<script type="text/javascript">
//<![CDATA[
/** Namespace for audio control code */
var aud = {};

aud.bShuffle = false;
aud.now_playing = null;
aud.playlist = [];
aud.playlistElement = null;

aud.PlayerInit = function()
{
    aud.Folders = document.getElementById("Folders");
    aud.PlayList = document.getElementById("PlayList");;

    aud.audio_box = document.getElementById("PlayerBox");
    aud.audio = document.getElementById("audioplayer");
    aud.bRand = document.getElementById("bRand");
    aud.bSeq = document.getElementById("bSeq");
    aud.bNext = document.getElementById("bNext");
    aud.bPrev = document.getElementById("bPrev");
    
    if( 0 == aud.playlist.length )
    {
        aud.audio_box.style.display = 'none';
    }
    aud.audio.addEventListener( "ended", aud.PlayNextWrap ); // Keep playing (Re-shuffle, as applicable)
}

/** Play in shuffled order */
aud.PlayListRandom = function()
{
    aud.bShuffle = true; 
    aud.MakePlaylist(); 
    //aud.PlayMedia(aud.playlist[0].getAttribute('path'));
    return false;
}

/** Play sequentially */
aud.PlayListSerial = function()
{
    aud.bShuffle = false;
    aud.MakePlaylist(); 
    return false;
}

/* 
 * Load the audio when the page finishes loading 
 * http://www.w3.org/2010/05/audio/mediaevents.html
 */
aud.PlayMedia = function(audio_path,noscroll)
{
    noscroll = noscroll || false;
    if(typeof(audio_path)==='undefined') 
        audio_path = aud.playlist[0].getAttribute('path');
    aud.now_playing = audio_path;
    aud.audio.src = aud.now_playing;
    aud.audio.load();
    aud.audio.play();
    
    aud.bNext.setAttribute( 'title', "Next: " + aud.TitleFromPath( aud.WhatNext() ) );
    aud.bPrev.setAttribute( 'title', "Prev: " + aud.TitleFromPath( aud.WhatPrev() ) );
    
    aud.PlayList.className = 'playlist_class';
    aud.audio_box.style.display ='block';
    aud.HighlightPlaying(noscroll);
    return false;
}
/** Show which item is playing in the play list */
aud.HighlightPlaying = function(noscroll)
{
    var item;
    for( i = 0; i < aud.playlist.length; ++i )
    {
        item = aud.playlist[i];
        delete item.style;
        item.className = 'index_entry';
    }
    item = aud.playlist[aud.IndexPlaying()];
    if( !!item )
    {
        item.className = 'index_entry_highlight';
        if( !noscroll && item.scrollIntoView )
            item.scrollIntoView();
    }
    else
    {
        if( !noscroll )
            aud.PlayList.scrollTop = 0;
    }
}

/* Make a play list from title links */
aud.MakePlaylist = function(playlistElement)
{
    if( aud.bShuffle )
    {
        aud.bRand.style.display = '';
        aud.bSeq.style.display  = 'none';
    }
    else
    {
        aud.bRand.style.display = 'none';
        aud.bSeq.style.display  = '';
    }
    playlistElement = playlistElement || aud.playlistElement;
    if( null == playlistElement )
    {
        aud.playlistElement = null;
        aud.bNext.setAttribute( 'title', "" );
        aud.bPrev.setAttribute( 'title', "" );
        return aud.playlist = [];
    }
    aud.playlistElement = playlistElement;

    var i;
    var curr;
    aud.playlist = [];
    var collection = playlistElement.children;
    for( i = 0; i < collection.length; ++i )
    {
        curr = collection[i];
        if( 'index_entry' == curr.className )
        {
            aud.playlist.push(curr);
        }
        else if( 'index_entry_highlight' == curr.className )
        {
            curr.className = 'index_entry';
            aud.playlist.push(curr);
        }
    }

    if( aud.bShuffle ) 
    {
        aud.ArrayShuffle(aud.playlist);
        aud.ArrayShuffle(aud.playlist);
        aud.ArrayShuffle(aud.playlist);
    }

    aud.bNext.setAttribute( 'title', "Next: " + aud.TitleFromPath( aud.WhatNext() ) );
    aud.bPrev.setAttribute( 'title', "Prev: " + aud.TitleFromPath( aud.WhatPrev() ) );

    aud.HighlightPlaying(true);

    return collection;
}

/**
 * Shuffle an array
 * @param array Array to shuffle in-place
 * @return Array passed in
**/
aud.ArrayShuffle = function(array)
{
    var ri;
    var tmp;
    var i = array.length;
    while( i-- )
    {
        ri = Math.floor(Math.random() * array.length);
        tmp = array[i];
        array[i] = array[ri];
        array[ri] = tmp;
    }
    return array;
}
/** Get index of currently playing media */
aud.IndexPlaying = function()
{
    var i = aud.playlist.length;
    while( 0 <= --i )
    {
        if( aud.playlist[i].getAttribute('path') == aud.now_playing )
            return i;
    }
    return -1;
}
/** Play the previous one */
aud.PlayPrev = function()
{
    if( !aud.audio.paused && aud.audio.currentTime > 3 )
    {
        aud.audio.currentTime = 0;
        aud.audio.play();
    }
    else
    {
        aud.PlayMedia(aud.WhatPrev());
    }
    return false;
}
/** Play the next one */
aud.PlayNext = function()
{
    aud.PlayMedia(aud.WhatNext());
    return false;
}
/** At end of media, play the next one; re-shuffle as appropriate */
aud.PlayNextWrap = function()
{
    var i = aud.IndexPlaying() + 1;
    if( i >= aud.playlist.length )
    {
        i = 0;
        if( aud.bShuffle )
        {
            return aud.PlayListRandom();
        }
    }
    aud.PlayMedia(aud.playlist[i].getAttribute('path'));
}
/** What will play previous */
aud.WhatPrev = function()
{
    var i = aud.IndexPlaying() - 1;
    if( i < 0 )
    {
        i = aud.playlist.length-1;
    }
    var path = aud.playlist[i].getAttribute('path');
    return path;
}
/** What will play next */
aud.WhatNext = function()
{
    var i = aud.IndexPlaying() + 1;
    if( i >= aud.playlist.length )
    {
        i = 0;
    }
    var path = aud.playlist[i].getAttribute('path');
    return path;
}
/** Turn video URI into title text */
aud.TitleFromPath = function(path)
{
    path = path.substring(path.lastIndexOf('/')+1);
    path = path.substring(0,path.lastIndexOf('.'));
    
    // URI decoders don't do the whole job, apparently.
    var parts = path.split('%');
    if( 1 == parts.length )
        return path;
    var ss;
    path = parts.shift();
    while( 0 < parts.length )
    {
        ss = parts.shift();
        if( ss.match( /^[0-9A-F][0-9A-F].*/i ) )
        {
            path += String.fromCharCode( parseInt(ss.slice(0,2), 16) ) + ss.slice(2);
        }
        else
        {
            path += '%'+ss;
        }
    }
    return path;
}

// Show folder contents
aud.BrowseFolder = function(id)
{
    aud.Folders.style.display ='none';
    aud.audio_box.style.display ='none';
    aud.PlayList.style.display ='block';

    var collapse = aud.PlayList.children;
    var i;
    var element;
    aud.playlistElement = null;
    for( i = 0; i < collapse.length; ++i )
    {
        element = collapse[i];
        if( id == element.id )
        {
            aud.playlistElement = element;
            element.style.display = 'block';
            aud.MakePlaylist(element); 
        }
        else
        {
            element.style.display = 'none';
        }
    }
    return false;
}

// Show folder list
aud.BrowseFolders = function()
{
    aud.audio.pause();
    aud.audio.src = null;
    aud.now_playing = null;
    aud.Folders.style.display ='block';
    aud.audio_box.style.display ='none';
    aud.PlayList.className = 'playlist_class_hidden';
    aud.PlayList.style.display ='none';
    return false;
}

// Wake up when the balance of the page is loaded.
document.addEventListener('DOMContentLoaded', aud.PlayerInit, false);

//]]>
</script>

<style type="text/css">

/* 
This is similar to what the following would accomplish, except I just bake it
into the html output with the script.
<link rel="stylesheet" type="text/css" href="template.css"> 
*/

/*INSERT_CSS_HERE*/

/* The remaining CSS is bound to how this page works */
#Folders {
    overflow-x: hidden !important;
    display:block;
    width: 100%;
}
/* Audio player and controls 'fixed' position because Amazon Silk is fuxed. */
#PlayerBox {
    display: none;
    overflow: none;
    text-align:center;
    position: fixed;
    width: 100%;
    height: 72pt;
    background-color:#101010;
}
#audioplayer {
    vertical-align:middle !important;
    position: fixed;
    top:3pt;
    left:0pt;
    width: 100%;
    height:32pt;
}
#bBack {
    position: fixed;
    top:36pt;
    left:0pt;
}
#audiocontrols {
    position: fixed;
    text-align: center;
    line-height:32pt;
    width: 100%;
    top:   36pt;
    left:  0pt;
}
.playlist_class, .playlist_class_hidden {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0pt;
    overflow: auto;
}
.playlist_class_hidden {
    top: 0%;
}
.playlist_class {
    top: 72pt;
}

.folder_page {
    display: none;
}

</style>
</head>

<body>
<div id='PlayerBox'>
<audio id="audioplayer" controls>
    Get a <i>modern</i> browser that supports HTML5 Audio.  If you see this, it doesn't, or it is disabled.<br/><br/>
    <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Other Browsers...</a><br/>
</audio>
<div id="audiocontrols">
<button id="bPrev" class="button_format" type="button" tabindex='-1' title="Previous Track" onclick="javascript: return aud.PlayPrev(); "><div class="prev_icon"/></button>
<button id="bRand" class="button_format" type="button" tabindex='-1' title="Shuffled"   onclick="javascript: return aud.PlayListSerial();"><div class="random_icon"/></button>
<button id="bSeq"  class="button_format" type="button" tabindex='-1' title="Sequential" onclick="javascript: return aud.PlayListRandom();"><div class="serial_icon"/></button>
<button id="bNext" class="button_format" type="button" tabindex='-1' title="Next Track" onclick="javascript: aud.PlayNext(); return false;"><div class="next_icon" /></button>
</div>
<button id="bBack" class="button_format" type="button" tabindex='-1' title="Back To Folder List" onclick="return aud.BrowseFolders();"><div class="back_icon"></div></button>
</div>

<!--INDEX_FOLDER
    <div class="folder_entry" style='FOLDER_STYLE'>
        <a href='' onclick="return aud.BrowseFolder('FOLDER_ID');" title="Browse FOLDER_TITLE" ><div class="folder_icon"></div>FOLDER_TITLE</a>
    </div>
-->
<!--INDEX_FILES_BEGIN
<div id="FOLDER_ID" class="folder_page" style='FOLDER_STYLE'>
    <div class='title'><a title="Back To Folder List" href='' onclick="return aud.BrowseFolders();">FOLDER_NAME</a></div>
-->
<!--INDEX_ITEM
    <div class='index_entry' path="MEDIA_PATH" style='FILE_STYLE' >
        <a href='' onclick="return aud.PlayMedia(this.parentNode.getAttribute('path'),true);" title="Play MEDIA_TITLE" >MEDIA_TITLE</a>
    </div>
-->
<!--INDEX_FILES_END
</div>
-->

<div id='Folders'>
<!--INDEX_FOLDERS_HERE-->
<div class="info_text">
<br/>
<br/>
<a href="https://github.com/pingnak/videowebscript">Generated by JukeboxScript</a>
<br/>
<br/>
</div>
</div>

<div id='PlayList' class='playlist_class_hidden' >
<!--INDEX_FILES_HERE-->
</div>

</body>
</html>
