<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height">

<title>TITLE_TEXT</title>
<link rel="icon" type="image/x-icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAXVBMVEUAAAD///8As7UAu7v///////////8AsrYAs7QAs7UAsrQAtbUAs7P///8As7X///////8As7X///////8AsrT///8AsrUAsrX///////8AtLT///////8As7X///8fHS7IAAAAHXRSTlMA768PP79/P79/7x8vb8+vL2/PH4+f308P319PX0HDJacAAAETSURBVFjD7ZbbEkMwEIYjchCiKD033v8x20mlZlSCDTNt+S7c7Tds8ttFaOOfIFmtoQQo2NcNAVBQv5lFwLHqJ45Ch8A8EdopK3iUIIYJ2k84WQ27cKkmBr7HeGsMQb7eMJUp1bASKMjMKey/I0xJEdnBwiYgxAiwclINhsldryKLgFIjEM76WA43UXIHySKnwEz9HXoVc6L55TDmTEPOwPqDaeLB9584T5jCq+jhlAwIGGsEydSh0A1TYUsBH/kGHPgGbQ+k6CVc8pdGfe8BSl83Mf3pRU8DLk9NGKBNuMwbpudltCEdgnYuFI41TckRa95x6lzqzsbj1Mn4MZ2xfThXC4Xp4ruhlNlrR8rOaGN9PAAllFYs17A7SwAAAABJRU5ErkJggg==" />

<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

<!-- Apple worms -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADkAAAA5BAMAAAB+Np62AAAAIVBMVEUAAAD///8As7UAsrYAs7QAsrQAu7sAs7MAtbUAsrUAtLQJVQ+hAAAAAXRSTlMAQObYZgAAAKZJREFUOMtjYBgwwCgIBAI0lGVWQgIhCQhZASBiYEKWVVJAk2XFJQs2mTMIWTaB9j4awrHAoeKCDJRQZVFjQUkpAE8cKSk54NOrWoDqqmJjZGBBjVgAydImGmgdC2yL4OGk2YAh24QUjGrIsuBYQA5kZQy9Rrj0gmXZseWTQRsLjPispUZOYUZOkgVoskwopYpSAWoscGLNCvASCWs2wp4HXYdseQUA8Fk7aXH77bkAAAAASUVORK5CYII=" />

<script type="text/javascript">
//<![CDATA[
/**
 * The global player object.
 * A namespace for all of these otherwise global things, to keep them all together
**/
var vid = {};

vid.bFullscreenEnabled = document.bFullscreenEnabled || document.webkitFullscreenEnabled || document.mozFullScreenEnabled || document.msFullscreenEnabled;
vid.bUseNativeControls = true;//!vid.bFullscreenEnabled || /Android|Silk|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

vid.mode_folders = 'folders';
vid.mode_folder  = 'folder';
vid.mode_player  = 'player';
vid.mode = vid.mode_folders;

vid.playlist = [];
vid.now_playing = '';
vid.bVideoResumable = false;
vid.bShuffle = false;
vid.mouseTimeout = -1;
vid.resizeTimeout = -1;
vid.MOUSE_TIMEOUT = 3000;
vid.lastScreenY = -1; 
vid.lastScreenX = -1;
vid.playlistElement = null;

/**
 * Set things up, when the page loads
**/
vid.PlayerInit = function()
{
    /* If no full screen, or some kinda 'mobile' browser that ignores all the rules, use the native controls */
    vid.video =               document.getElementById("videoplayer");
    vid.video_controls  =     document.getElementById("video_controls");
    vid.video_controls_left = document.getElementById("video_controls_left");
    vid.video_controls_right =document.getElementById("video_controls_right");
    vid.overlay_controls =    document.getElementById("overlay_controls");
    vid.Folders =             document.getElementById("Folders");
    vid.PlayList =            document.getElementById("PlayList");
    vid.PlayerBox =           document.getElementById("PlayerBox");
    vid.bBack =               document.getElementById("bBack");
    vid.bList =               document.getElementById("bList");
    vid.bWatch =              document.getElementById("bWatch");

    vid.progress_bar =        document.getElementById("progress_bar");
    vid.progress_text =       document.getElementById("progress_text");
    vid.progress_text_total = document.getElementById("progress_text_total");
    vid.progress_text_title = document.getElementById("progress_text_title");
    vid.progress_playing =    document.getElementById("progress_playing");
    vid.progress_clickme =    document.getElementById("progress_clickme");
    
    vid.bPrev =               document.getElementById("bPrev");
    vid.bNext =               document.getElementById("bNext");
    vid.bSeq  =               document.getElementById("bSeq");
    vid.bRand =               document.getElementById("bRand");

    vid.bPlay =               document.getElementById("bPlay");
    vid.bPause =              document.getElementById("bPause");
    vid.bFull =               document.getElementById("bFull");
    vid.bWindow =             document.getElementById("bWindow");

    vid.BrowseFolders();

    // Mouse moved or screen touched
    vid.PlayerBox.addEventListener( 'mousemove',            vid.MouseMovedFilter );    

    // Tap to pause/play (and show controls)
    vid.video.addEventListener( 'click',                vid.TogglePause );
    
    //vid.video.addEventListener( 'canplay',              vid.WatchMode );
    //vid.video.addEventListener( 'error',                vid.Error );
    vid.video.addEventListener( 'ended',                vid.PlayNextWrap );
    window.addEventListener( 'resize',                  vid.OnResize );
    window.addEventListener( 'fullscreenchange',        vid.OnResize );
    window.addEventListener( 'webkitfullscreenchange',  vid.OnResize );
    window.addEventListener( 'mozfullscreenchange',     vid.OnResize );
    window.addEventListener( 'MSFullscreenChange',      vid.OnResize );
    vid.video.addEventListener( 'playing',              vid.OnResize );
    vid.video.addEventListener( 'pause',                vid.OnResize );
    vid.video.addEventListener( 'loadeddata',           vid.OnResize );

    vid.RefreshControls();
}

vid.Error = function(e)
{
    console.log(e);
    vid.BrowseFolder();
}


/** Press pause/play button */
vid.TogglePause = function()
{
    vid.MouseMoved();
    vid.RefreshControls();
    if( 0 == vid.video.readyState )
        vid.PlayMedia();
    else if( vid.video.paused )
        vid.video.play();
    else
        vid.video.pause();
    return false;
}

/** When video is paused, change to show playing icon */
vid.ShowPaused = function()
{
    if( vid.video.paused )
    {
        vid.bPlay.style.display = 'none';
        vid.bPause.style.display= '';
    }
    else
    {
        vid.bPlay.style.display = '';
        vid.bPause.style.display= 'none';
        vid.bVideoResumable = true;
    }
    vid.RefreshControls();
    return false;
}

/** Press full-screen button */
vid.ToggleFullScreen = function()
{
    if( vid.IsFullScreen() )
        vid.ExitFullscreen();
    else
        vid.EnterFullscreen();
    return false;
}

/** See if video is not full-screen */
vid.IsFullScreen = function()
{
    var fullscreenElement = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement;
    return (null != fullscreenElement) || window.fullScreen || (window.innerWidth == screen.width && window.innerHeight == screen.height);
}
vid.FullScreenWasMe = function()
{
    var fullscreenElement = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement;
    return document.documentElement == fullscreenElement;
}

/** Update full-screen status */
vid.UpdateFullScreen = function()
{
    // Sort out full versus windowed playbacl
    if( !vid.bFullscreenEnabled )
    {
        vid.bFull.style.display='none';
        vid.bWindow.style.display='none';
        return;
    }
    if( vid.IsFullScreen() )
    {
        if( vid.FullScreenWasMe() )
        {
            vid.bWindow.style.display='';
            vid.bFull.style.display='none';
        }
        else
        {   // Something else put us into full screen - I can't un-full-screen from that
            vid.bFull.style.display='none';
            vid.bWindow.style.display='none';
        }
    }
    else
    {
        vid.bWindow.style.display='none';
        vid.bFull.style.display='';
    }

}

/** Enter full screen mode */
vid.EnterFullscreen = function()
{
    if(document.documentElement.requestFullscreen) 
    {
        document.documentElement.requestFullscreen();
    }
    else if(document.documentElement.webkitRequestFullscreen) 
    {
        document.documentElement.webkitRequestFullscreen();
    }
    else if(document.documentElement.mozRequestFullScreen) 
    {
        document.documentElement.mozRequestFullScreen();
    } 
    else if(document.documentElement.msRequestFullscreen) 
    {
        document.documentElement.msRequestFullscreen();
    }
    vid.UpdateFullScreen();
}

/** Exit full screen mode */
vid.ExitFullscreen = function()
{
    if(document.ExitFullscreen) 
    {
        document.ExitFullscreen();
    }
    else if(document.mozCancelFullScreen) 
    {
        document.mozCancelFullScreen();
    } 
    else if(document.webkitExitFullscreen) 
    {
        document.webkitExitFullscreen();
    }
    else if(document.msExitFullscreen)
    {
        document.msExitFullscreen();
    }
    vid.UpdateFullScreen();
}

/** Format seconds to hh:mm:ss */
vid.hhmmss = function(t)
{
    if( isNaN(t) )
        return '00\:00\:00';
        
    var ss = Math.floor(t % 60);
    var mm = Math.floor((t / 60) % 60);
    var hh = Math.floor(t / 3600);
    return '' + ((hh < 10) ? '0'+hh : hh) +':'+((mm < 10) ? '0'+mm : mm)+':'+((ss < 10) ? '0'+ss : ss); 
}
/** Update progress */
vid.UpdateTime = function()
{   
    vid.progress_playing.style.width = (100*vid.video.currentTime/vid.video.duration)+'%';
    vid.progress_text.innerHTML = vid.hhmmss(vid.video.currentTime);
    vid.progress_text_total.innerHTML = vid.hhmmss(vid.video.duration);
    return false;
}
/** Refresh play time */
vid.RefreshProgress = function(seconds)
{
    vid.progress_text.innerHTML = vid.hhmmss(seconds);
    vid.progress_text_total.innerHTML = vid.hhmmss(vid.video.duration);
    if( isNaN(vid.video.duration) || vid.video.duration < 1 )
    {
        vid.progress_playing.style.width = '0%';
    }
    else
    {
        vid.progress_playing.style.width = (100*seconds/vid.video.duration)+'%';
    }
}

/** 
 One of the reasons I loathe 'web technolog'.  
 Half a dozen kinds of 'position' on an event, according  
 to what browser.
 http://www.kirupa.com/html5/getting_mouse_click_position.htm
 */
vid.getClickPosition = function(e)
{
    var parentPosition = vid.getPosition(e.currentTarget);
    var xPosition = e.clientX - parentPosition.x;
    var yPosition = e.clientY - parentPosition.y;
    return { x: xPosition, y: yPosition };
}
/** Get position of element, on-screen */
vid.getPosition = function(element)
{
    var xPosition = 0;
    var yPosition = 0;
    var elementcurr = element; 
    while (elementcurr) {
        xPosition += (elementcurr.offsetLeft - elementcurr.scrollLeft + elementcurr.clientLeft);
        yPosition += (elementcurr.offsetTop - elementcurr.scrollTop + elementcurr.clientTop);
        elementcurr = elementcurr.offsetParent;
    }
    return { x: xPosition, y: yPosition, w:element.clientWidth, h:element.clientHeight };
}

/** Convert mouse position to time */
vid.getProgressFromMouse = function(e)
{
    var pt = vid.getClickPosition(e);
    var fraction = pt.x/vid.progress_clickme.clientWidth;
    return fraction;
}
/** Seek to clicked time */
vid.ProgressClick = function(e)
{
    vid.MouseMoved();
    var fraction = vid.getProgressFromMouse(e);
    var time= vid.video.duration * fraction;
    vid.video.currentTime = time;
}
/** Mouse entered progress; disable time updates */
vid.ProgressIn = function(e)
{
    vid.MouseMoved();
    vid.ProgressTrackMouse(e);
    vid.video.removeEventListener( 'timeupdate', vid.UpdateTime );
}
/** Mouse exited progress; enable time updates */
vid.ProgressOut = function(e)
{
    vid.MouseMoved();
    vid.UpdateTime();
    vid.video.addEventListener( 'timeupdate', vid.UpdateTime );
}
/** Update progress bar and time with mouse motion */
vid.ProgressTrackMouse = function(e)
{   /* Keep progress stamps from stomping on my tracking */
    vid.MouseMoved();
    var fraction = vid.getProgressFromMouse(e);
    var time= vid.video.duration * fraction;
    vid.RefreshProgress(time);
}

/** We should know how big&long the video is, so we can update it*/
vid.UpdateMeta = function()
{
    vid.UpdateTime();
    vid.RefreshControls();
}

/**
 * Set things up, when the page loads
**/
vid.MouseTimeout = function()
{
    if( vid.mode_player == vid.mode )
    {
        vid.overlay_controls.style.visibility = 'hidden';
        vid.video_controls.style.visibility = 'hidden';
        vid.PlayerBox.style.cursor = 'none';
        vid.mouseTimeout = -1;
    }
    else
    {
        vid.MouseMoved();
    }
}

/** Only call MouseMoved if the mouse... moved. */
vid.MouseMovedFilter = function(e)
{
    if( Math.abs(e.screenX - vid.lastScreenX)+Math.abs(e.screenY - vid.lastScreenY) > 1 )
        vid.MouseMoved();
    vid.lastScreenX = e.screenX;
    vid.lastScreenY = e.screenY;
}
/** Show the mouse and controls */
vid.MouseMoved = function()
{
    vid.video_controls.style.visibility = '';
    vid.overlay_controls.style.visibility = '';
    vid.PlayerBox.style.cursor = '';
    if( -1 != vid.mouseTimeout )
        clearTimeout(vid.mouseTimeout);
    if( vid.mode_player == vid.mode && !vid.video.paused )
        vid.mouseTimeout = setTimeout( vid.MouseTimeout, vid.MOUSE_TIMEOUT );
    return true;
}

/** Window changed: Organize and update controls */
vid.OnResize = function()
{
    // Because some browsers don't have this figured out yet, even though they called me
    if( -1 != vid.resizeTimeout )
        clearTimeout( vid.resizeTimeout );
    vid.resizeTimeout = setTimeout( vid.RefreshControls, 34 );
}
vid.RefreshControls = function()
{
    vid.resizeTimeout = -1;

    vid.browserWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    vid.browserHeight= window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
    
    // Manage all of the mode-based button/pane states on top-right menu
    switch( vid.mode )
    {
    case vid.mode_player:
        vid.Folders.style.display = 'none';
        vid.PlayList.style.display = 'none';
        vid.PlayerBox.style.display = 'block';
        vid.bBack.style.display = '';
        vid.bList.style.display = '';
        vid.bWatch.style.display = 'none';
        vid.bPrev.style.display = '';
        vid.bNext.style.display = '';
        vid.bSeq.style.display = vid.bShuffle ? 'none' : '';
        vid.bRand.style.display = vid.bShuffle ? '' : 'none';
        break;
    case vid.mode_folder:
        vid.Folders.style.display = 'none';
        vid.PlayList.style.display = 'block';
        vid.PlayerBox.style.display = 'none';
        vid.bBack.style.display = '';
        vid.bList.style.display = 'none';
        vid.bWatch.style.display = vid.bVideoResumable ? '' : 'none';
        vid.bPrev.style.display = '';
        vid.bNext.style.display = '';
        vid.bSeq.style.display = vid.bShuffle ? 'none' : '';
        vid.bRand.style.display = vid.bShuffle ? '' : 'none';
        break;
    case vid.mode_folders:
    default: // Fall-through
        vid.Folders.style.display = 'block';
        vid.PlayList.style.display = 'none';
        vid.PlayerBox.style.display = 'none';
        vid.bBack.style.display = 'none';
        vid.bList.style.display = 'none';
        vid.bWatch.style.display= 'none';
        vid.bPrev.style.display = 'none';
        vid.bNext.style.display = 'none';
        vid.bSeq.style.display  = 'none';
        vid.bRand.style.display = 'none';
        break;
    }

    vid.progress_clickme.removeEventListener( 'mousemove',vid.ProgressTrackMouse );    
    vid.progress_clickme.removeEventListener( 'click',    vid.ProgressClick );
    vid.progress_clickme.removeEventListener( 'mouseover',vid.ProgressIn );     
    vid.progress_clickme.removeEventListener( 'mouseout', vid.ProgressOut ); 

    vid.video.removeEventListener( 'playing',          vid.ShowPaused );
    vid.video.removeEventListener( 'pause',            vid.ShowPaused );
    vid.video.removeEventListener( 'timeupdate',       vid.UpdateTime );
    vid.video.removeEventListener( 'loadeddata',       vid.UpdateMeta );

    vid.bUseNativeControls = vid.browserWidth < 640 
        // || !vid.bFullscreenEnabled 
        // || /Android|Silk|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    
    if( vid.bUseNativeControls )
    {
        /* If full-screen is unavailable to code, stick to native controls */
        vid.video.setAttribute("controls",true);
        vid.video_controls.style.display = 'none';
    }
    else
    {
        if( vid.video.hasAttribute("controls") )
            vid.video.removeAttribute("controls");
        vid.video_controls.style.display = '';

        /* Had to add a layer on top of progress bar, to click */
        vid.progress_clickme.addEventListener( 'mousemove',vid.ProgressTrackMouse );    
        vid.progress_clickme.addEventListener( 'click',    vid.ProgressClick );
        vid.progress_clickme.addEventListener( 'mouseover',vid.ProgressIn );     
        vid.progress_clickme.addEventListener( 'mouseout', vid.ProgressOut ); 

        vid.video.addEventListener( 'playing',          vid.ShowPaused );
        vid.video.addEventListener( 'pause',            vid.ShowPaused );
        vid.video.addEventListener( 'timeupdate',       vid.UpdateTime );
        vid.video.addEventListener( 'loadeddata',       vid.UpdateMeta );
    }
    
    
    // If window is shorter than video, when scaled, fit to height instead of width
    var videoAspect = vid.video.videoWidth / vid.video.videoHeight;
    var windowAspect = window.innerWidth / window.innerHeight;
    var screenAspect = screen.width / screen.height;
    if( videoAspect < windowAspect ) // Second test because Silk doesn't work right
    {
        vid.video.className = 'videoplayer_alt';
    }
    else 
    {
        vid.video.className = 'videoplayer';
    }
    
    // Sort out full versus windowed playbacl
    vid.UpdateFullScreen();
    vid.MouseMoved();
    return false;
}


/*
 * Play a video
 * http://www.w3.org/2010/05/video/mediaevents.html
 */
vid.PlayMedia = function(video_path,noscroll)
{
    // Setting attributes blows up
    noscroll = noscroll || false;
    if(typeof(video_path)==='undefined')
    {
        if( null != vid.now_playing )
            video_path = vid.now_playing;
        else
            video_path = vid.playlist[0].getAttribute('path');
    }

    vid.now_playing = video_path;
    vid.HighlightPlaying(noscroll);

    setTimeout( vid.PlayMedia2, 10);
    vid.RefreshControls();
    vid.bNext.setAttribute( 'title', "Next: " + vid.TitleFromPath( vid.WhatNext() ) );
    vid.bPrev.setAttribute( 'title', "Prev: " + vid.TitleFromPath( vid.WhatPrev() ) );
    vid.ShowPaused();

    return false;
}

/** Setting attributes kills the video... so let the stack unwind and start it second */
vid.PlayMedia2 = function()
{
    vid.video.setAttribute("src",vid.now_playing);
    vid.video.load();
    vid.video.play();
    
    // Show title
    vid.progress_text_title.innerHTML = vid.TitleFromPath(vid.now_playing);

    vid.MouseMoved();
    vid.UpdateTime();
    vid.WatchMode();
}

/** Show which item is playing in the play list */
vid.HighlightPlaying = function(noscroll)
{
    // Scroll play list to currently playing
    var i;
    for( i = 0; i < vid.playlist.length; ++i )
    {
        vid.playlist[i].className = 'index_entry';
    }
    var item = vid.playlist[vid.IndexPlaying()];
    if( !!item )
    {
        item.className = 'index_entry_highlight';
        if( !noscroll && item.scrollIntoView ) 
        {
            item.scrollIntoView();
        }
    }
}

/** Make a play list from title links */
vid.MakePlaylist = function(playlistElement)
{
    vid.bSeq.style.display = vid.bShuffle ? 'none' : '';
    vid.bRand.style.display = vid.bShuffle ? '' : 'none';

    vid.playlistElement = playlistElement = playlistElement || vid.playlistElement;

    if( null == playlistElement )
    {
        vid.playlistElement = null;
        vid.bNext.setAttribute( 'title', "" );
        vid.bPrev.setAttribute( 'title', "" );
        return vid.playlist = [];
    }
    
    var i;
    var curr;
    var img;
    vid.playlist = [];
    var collection = playlistElement.children;
    for( i = 0; i < collection.length; ++i )
    {
        curr = collection[i];
        if( 'index_entry' == curr.className )
        {
            vid.playlist.push(curr);
        }
        else if( 'index_entry_highlight' == curr.className )
        {
            curr.className = 'index_entry';
            vid.playlist.push(curr);
        }
        else
            continue;
        img = curr.getElementsByTagName('img')[0];
        if( img && !img.src )
        {
            img.src = img.getAttribute("defer");
        }
    }

    if( vid.bShuffle ) 
    {
        vid.ArrayShuffle(vid.playlist);
        vid.ArrayShuffle(vid.playlist);
        vid.ArrayShuffle(vid.playlist);
    }

    vid.bNext.setAttribute( 'title', "Next: " + vid.TitleFromPath( vid.WhatNext() ) );
    vid.bPrev.setAttribute( 'title', "Prev: " + vid.TitleFromPath( vid.WhatPrev() ) );

    vid.HighlightPlaying(true);

    return collection;

}

/** Shuffle a play list */
vid.PlayListSerial = function()
{
    vid.MouseMoved();
    vid.bShuffle = false;
    vid.MakePlaylist();
    return false;
}

/** Shuffle a play list (assumes it was already generated) */
vid.PlayListRandom = function()
{
    vid.MouseMoved();
    vid.bShuffle = true;
    vid.MakePlaylist();
    vid.PlayMedia(vid.playlist[0].getAttribute('path'));
    return false;
}
/**
 * Shuffle an array
 * @param array Array to shuffle in-place
 * @return Array passed in
**/
vid.ArrayShuffle = function(array)
{
    var ri;
    var tmp;
    var i = array.length;
    while( i-- )
    {
        ri = Math.floor(Math.random() * array.length);
        tmp = array[i];
        array[i] = array[ri];
        array[ri] = tmp;
    }
    return array;
}
/** Get index of currently playing media */
vid.IndexPlaying = function()
{
    var i = vid.playlist.length;
    while( 0 <= --i )
    {
        if( vid.playlist[i].getAttribute('path') == vid.now_playing )
            return i;
    }
    return -1;
}
/** Play the previous one */
vid.PlayPrev = function()
{
    vid.MouseMoved();
    vid.PlayMedia(vid.WhatPrev());
    return false;
}
/** Play the next one */
vid.PlayNext = function()
{
    vid.MouseMoved();
    vid.PlayMedia(vid.WhatNext());
    return false;
}
/** At end of media, play the next one; re-shuffle as appropriate */
vid.PlayNextWrap = function()
{
    vid.MouseMoved();
    var i = vid.IndexPlaying() + 1;
    if( i >= vid.playlist.length )
    {
        i = 0;
        if( vid.bShuffle )
        {
            return vid.PlayListRandom();
        }
    }
    vid.PlayMedia(vid.playlist[i].getAttribute('path'));
    return false;
}
/** What will play previous */
vid.WhatPrev = function()
{
    var i = vid.IndexPlaying() - 1;
    if( i < 0 )
    {
        i = vid.playlist.length-1;
    }
    var path = vid.playlist[i].getAttribute('path');
    return path;
}
/** What will play next */
vid.WhatNext = function()
{
    var i = vid.IndexPlaying() + 1;
    if( i >= vid.playlist.length )
    {
        i = 0;
    }
    var path = vid.playlist[i].getAttribute('path');
    return path;
}
/** Turn video URI into title text */
vid.TitleFromPath = function(path)
{
    path = path.substring(path.lastIndexOf('/')+1);
    path = path.substring(0,path.lastIndexOf('.'));
    
    // URI decoders don't do the whole job, apparently.
    var parts = path.split('%');
    if( 1 == parts.length )
        return path;
    var ss;
    path = parts.shift();
    while( 0 < parts.length )
    {
        ss = parts.shift();
        if( ss.match( /^[0-9A-F][0-9A-F].*/i ) )
        {
            path += String.fromCharCode( parseInt(ss.slice(0,2), 16) ) + ss.slice(2);
        }
        else
        {
            path += '%'+ss;
        }
    }
    return path;
}


/**
 * Show video, if it can resume
**/
vid.WatchMode = function()
{
    vid.mode = vid.mode_player;
    vid.RefreshControls();

    if( vid.video.paused )
    {
        vid.video.play();
    }
    return false;
}

/**
 * List contents of folder 
**/
vid.BrowseFolder = function( id )
{
    if( !id && vid.playlistElement )
        id = vid.playlistElement.id;

    vid.video.pause();

    // Make the appropriate folder visible
    var collapse = vid.PlayList.children;
    var i;
    var element;
    vid.playlistElement = null;
    for( i = 0; i < collapse.length; ++i )
    {
        element = collapse[i];
        if( id == element.id )
        {
            vid.playlistElement = element;
            element.style.display = 'block';
            vid.MakePlaylist(element); 
        }
        else
        {
            element.style.display = 'none';
        }
    }

    vid.mode = vid.mode_folder;
    vid.RefreshControls();
    
}
    
/**
 * Browse main folder list 
**/
vid.BrowseFolders = function()
{
    vid.mode = vid.mode_folders;
    vid.RefreshControls();

    // Stop playback
    vid.video.pause();
    vid.now_playing = null;
    vid.video.src = '';
    vid.bVideoResumable = false;

    return false;
}

//]]>
</script>

<style type="text/css">

/* 
This is similar to what the following would accomplish, except I just bake it
into the html output with the script.
<link rel="stylesheet" type="text/css" href="template.css"> 
*/

/*INSERT_CSS_HERE*/

/* The remaining CSS is bound to how this page works */

/* Video player modes for windowed/full-screen */
#PlayerBox {
    display: none;
    position: fixed;
    overflow: hidden;
    margin: 0 !important;
    padding:0 !important;
    width:100%;
    height:100%;
}
#PlayList {
    display: none;
    position: fixed;
    padding-left: 10pt;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    width:100%;
    height:100%;
}
#Folders {
    overflow-x: hidden !important;
    display:block;
    width: 100%;
}
.videoplayer, .videoplayer_alt {
    position: fixed;
    overflow: hidden;
    margin: 0 !important;
    padding:0 !important;
    outline: 0;
    z-index:0;
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); 
}
/* Full-screen video player, wide aspect */
.videoplayer {
    width:100%;
    height:auto;
}
/* Full-screen video player, square-ish aspect */
.videoplayer_alt {
    height:100%;
    width:auto;
}

/* Skinned control panel mode for windowed and full-screen */
#video_controls, #overlay_controls {
    height: 32pt;
    line-height: 32pt;
    vertical-align: middle;
    background: transparent;
    margin: 0;
    padding:0;
}
#video_controls {
    display: table;
    position: fixed;
    width:100%;
    bottom: 16pt;
    left:0px;
}
#overlay_controls {
    display: block;
    position: fixed;
    top: 8pt;
    right:8pt;
}

/* Skinned control panel icons in left and right boxes */
#video_controls_left, #video_controls_right {
    display: table-cell;
    text-decoration: none;
    white-space:nowrap;
    height: 32pt;
    width: 1px;
    overflow: hidden;
}
#video_controls_left {
    left: 0px;
}
#video_controls_right {
    right:0px;
}

/* Progress bar elements between left and right boxes */
#progress_bar {
    display: table-cell;
    position: relative;
    height: 32pt;
    width: auto;
    margin: 0 !important;
    padding:0 !important;
}
#progress_playing, #progress_text, #progress_text_total, #progress_text_title, #progress_clickme {
    color: #c0c0c0;
    position: absolute;
    white-space:nowrap;
    overflow: hidden;
    height: 32pt;
    line-height: 32pt;
    font-size: 12pt;
    margin: 0 !important;
    padding:0 !important;
    top:0px;
}

#progress_text {
    text-align: left;
    z-index:3;
    left: 1%;
    width: 98%;
}
#progress_text_title {
    text-align: center;
    z-index:5;
    left: 0%;
    width: 100%;
}
#progress_text_total {
    text-align: right;
    z-index:4;
    left: 1%;
    width: 98%;
}

#progress_clickme {
    z-index:6;
    border: 1px solid #303030;
    width: 100%;
}
#progress_playing {
    z-index:2;
    opacity: 0.25;
    background-color: #ff0000;
}

</style>

</head>

<body onload="vid.PlayerInit();" >
<div id='PlayerBox' >

<video id="videoplayer" class='videoplayer' >
    Get a <i>modern</i> browser that supports HTML5 Video.  If you see this, it doesn't, or it is disabled.<br/><br/>
    <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Other Browsers...</a><br/>
</video>

<div id="video_controls">
    <div id="video_controls_left">
        <button id="bPlay"  class="button_format" type="button" tabindex='-1' title="Playing" onclick="javascript: return vid.TogglePause(); "><div class="play_icon"></div></button>
        <button id="bPause" class="button_format" type="button" tabindex='-1' title="Paused"  onclick="javascript: return vid.TogglePause(); "><div class="pause_icon"></div></button>
    </div>
    <div id="progress_bar">
        <div id="progress_playing"></div>
        <div id="progress_text">00:00:00</div>
        <div id="progress_text_total">00:00:00</div>
        <div id="progress_text_title"></div>
        <div id="progress_clickme"></div>
    </div>
    <div id="video_controls_right">
    </div>
</div>

</div>

<!--INDEX_FOLDER
    <div class="folder_entry" style='FOLDER_STYLE'>
        <a onclick="return vid.BrowseFolder('FOLDER_ID');" title="Browse FOLDER_NAME" ><div class="folder_icon"></div>FOLDER_NAME</a>
    </div>
-->

<!--INDEX_FILES_BEGIN
<div id="FOLDER_ID" class="folder_page" style='FOLDER_STYLE'>
    <div class='title'>FOLDER_NAME</div>
-->

<!--INDEX_FILE_THUMB
    <div class="index_entry" title="Play MEDIA_TITLE" path="MEDIA_PATH" style='FILE_STYLE' >
        <a onclick="javascript: vid.PlayMedia(this.parentNode.getAttribute('path'),true); return false;" ><img class="index_thumbnail" defer="MEDIA_IMAGE" />MEDIA_TITLE</a>
    </div>
-->

<!--INDEX_FILE_NOTHUMB
    <div class="index_entry" title="Play MEDIA_TITLE" path="MEDIA_PATH" style='FILE_STYLE' >
        <a onclick="javascript: vid.PlayMedia(this.parentNode.getAttribute('path'),true); return false;" >MEDIA_TITLE</a>
    </div>
-->

<!--INDEX_FILES_END
</div>
-->

<div id='Folders'>
<div class='title'>Browse Video</div>
<!--INDEX_FOLDERS_HERE-->
<div class="info_text">
<br/>
<br/>
<a href="https://github.com/pingnak/videowebscript">Generated by VideoWebScript</a>
<br/>
<br/>
</div>
</div>

<div id='PlayList' >
<!--INDEX_FILES_HERE-->
</div>

<div id="overlay_controls" >

    <button id="bPrev"  class="button_format" type="button" tabindex='-1' title="Prev Video" onclick="javascript: return vid.PlayPrev(); "><div class="prev_icon"></div></button>
    <button id="bSeq"   class="button_format" type="button" tabindex='-1' title="Sequential" onclick="javascript: return vid.PlayListRandom();"><div class="serial_icon"></div></button>
    <button id="bRand"  class="button_format" type="button" tabindex='-1' title="Shuffled"   onclick="javascript: return vid.PlayListSerial();"><div class="random_icon"></div></button>
    <button id="bNext"  class="button_format" type="button" tabindex='-1' title="Next Video" onclick="javascript: return vid.PlayNext();"><div class="next_icon"></div></button>
    &nbsp;
    <button id="bBack"  class="button_format" type="button" tabindex='-1' title="Back To Folder List" onclick="return vid.BrowseFolders();"><div class="home_icon"></div></button>
    <button id="bWatch" class="button_format" type="button" tabindex='-1' title="Resume Video" onclick="javascript: return vid.WatchMode();" ><div class="list_icon"></div></button>
    <button id="bList"  class="button_format" type="button" tabindex='-1' title="Browse Videos" onclick="javascript: return vid.BrowseFolder();"><div class="player_icon"></div></button>
    <button id="bFull"  class="button_format" type="button" tabindex='-1' title="Show Full Screen" onclick="javascript: return vid.ToggleFullScreen();"><div class="full_icon"></div></button>
    <button id="bWindow" class="button_format" type="button" tabindex='-1' title="Exit Full Screen" onclick="javascript: return vid.ToggleFullScreen();"><div class="window_icon"></div></button>
</div>

</body>
</html>
