<!DOCTYPE HTML PUBLIC >
<html>
    <!-- Chromecast -->
	<head>
		<title>MOVIE_TITLE</title>
	</head>
	<body bgcolor="#000000" >
        <video width="100%" controls >
            <source src="MOVIE_PATH" type="MOVIE_TYPE">
            Get a <i>modern</i> browser that doesn't SUCK!<br/>
            <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a><br/>
            <a href="https://www.opera.com/">Opera</a><br/>
            <a href="https://www.apple.com/safari/">Safari</a><br/>
            <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a><br/>
            <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Others...</a><br/>
            <a href="https://www.w3schools.com/html/html5_video.asp">More info...</video>
        </video>
	</body>
</html>

