<!DOCTYPE HTML PUBLIC >
<html>
    <!-- Chromecast -->
	<head>
		<title>Video Player</title>
		<link rel="stylesheet" type="text/css" href="WEBIFIED_CSS">
		<script>
		    // Load the video when the page finishes loading
		    function updatevideo()
		    {
                var pararms = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) { pararms[key] = value; });
                var video_path=decodeURI(pararms["path"]);
                var video_type='video/'+video_path.split('.').pop();
                var video = document.getElementById("videoplayer");
                video.setAttribute("src",video_path);
                video.setAttribute("type".video_type);
                video.load();
                video.play();
                // Seek-to function for episodic content?
                // http://www.w3.org/2010/05/video/mediaevents.html
                //video.addEventListener('loadedmetadata', function() { video.currentTime = 50;}, false);
 		    }
		</script>
	</head>
	<body onload="updatevideo();" >
        <video id="videoplayer" width="100%" controls >
            Get a <i>modern</i> browser that doesn't SUCK!<br/>
            <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a><br/>
            <a href="https://www.opera.com/">Opera</a><br/>
            <a href="https://www.apple.com/safari/">Safari</a><br/>
            <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a><br/>
            <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Others...</a><br/>
            <a href="https://www.w3schools.com/html/html5_video.asp">More info...</video>
        </video>
	</body>
</html>

