		</style>
        <title>TITLE_TEXT</title>
        <script type="text/javascript">
            var original_title = "Titles Available In TITLE_TEXT";   // Original title, before play list monkeyed with it
            /* 
             * Load the video when the page finishes loading 
             * http://www.w3.org/2010/05/video/mediaevents.html
             */
            function playvideo(video_path)
            {
                console.log("PLAY:",video_path);
                now_playing = video_path;
                var title = document.getElementById("title");
                var video = document.getElementById("videoplayer");
                if( 'undefined' == typeof(now_playing) )
                {
                    title.innerHTML = original_title;
                    video.style.display = 'none';
                    return;
                }
                video.style.display = '';
                var video_type='video/'+now_playing.split('.').pop();
                video.setAttribute("src",now_playing);
                video.setAttribute("type",video_type);
                video.load();
                video.play();
                video.addEventListener( "ended", playNext );
                // Show title
                title.innerHTML = "Now Playing: " + now_playing.split('/').pop();
                // Show video
                window.scrollTo(0,0);
            }
            function playFirst()
            {   // Play the first item on the list
                var playlist = document.getElementsByClassName("index_entry");
                var path = playlist[0].getAttribute("path");
                playvideo(path);
            }
            function playNext()
            {   // Seek list of links for current video
                var playlist = document.getElementsByClassName("index_entry");
                var item;
                var nextitem;
                var link;
                for( i = 0; i < playlist.length; ++i )
                {   
                    item = playlist[i];
                    path = item.getAttribute("path");
                    // Link actually contains: "javascript: playvideo('VIDEO_PATH');"
                    // Split by quote and pick out the URI from it.
                    if( path == now_playing )
                    {   // Found the current video; look at next.
                        nextitem = playlist[i+1];
                        if( 'undefined' == typeof(nextitem) || nextitem.parentNode != item.parentNode )
                        {
                            console.log("End of videos");
                            playvideo();
                        }
                        else
                        {
                            path = nextitem.getAttribute("path");
                            playvideo(path);
                        }
                        break;
                    }
                }
            }
            // When a onclick="javascript: toggleNextDiv(this);" calls this, the DIV following that link is hidden/shown
            function toggleNextDiv(link)
            {
                nextdiv = link;
                while ( nextdiv = nextdiv.nextSibling ) {
                    if( nextdiv.nodeName == "DIV" ) {
                        nextdiv.style.display = nextdiv.style.display == 'none' ? '' : 'none';
                        window.setTimeout(snapback, 1);
                        break;
                    }
                }
                function snapback()
                {
                    link.scrollIntoView();
                }
            }
        </script>
        </head>
	<body>
    <video id="videoplayer" width="100%" controls style="display:none;" >
        Get a <i>modern</i> browser that supports HTML5 Video.  If you see this text, it doesn't, or it is disabled.<br/>
        <a href="https://www.w3schools.com/html/html5_video.asp">More info...</a>
        <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a><br/>
        <a href="https://www.opera.com/">Opera</a><br/>
        <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a><br/>
        <a href="https://www.apple.com/safari/">Safari</a><br/>
        <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Others...</a><br/>
    </video>
	<br/>
	<div id="title" class="title">Titles Available In TITLE_TEXT</div>
	<br/>
	<div id="playlist">
