<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="UTF-8">
<style type="text/css">

/* 
This is similar to what the following would accomplish, except I just bake it
into the html output with the script.
<link rel="stylesheet" type="text/css" href="template.css"> 
*/

/*INSERT_CSS_HERE*/

/* The remaining CSS is bound to how this page works */

/* Video player modes for windowed/full-screen */
.video_box_windowed, .video_box_full, .video_box_alt {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}
.video_box_windowed {
    width:75%;
    height:auto;
}
.video_box_full {
    width:100%;
    height:auto;
}
.video_box_alt {
    width:auto;
    height:100%;
}
/* Video player mode for windowed  */
.videoplayer_windowed {
    z-index:0;
    width:100%;
    height:auto;
    position: relative;
}
/* Full-screen video player, wide aspect */
.videoplayer_full, .videoplayer_full_borked {
    z-index:0;
    width:100%;
    height:auto;
    position: relative;
}
/* This is all about Firefox, not wanting to center the full-screen video like everyone else */
.videoplayer_full_borked  {
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); 
    position:absolute;
}

/* Full-screen video player, square-ish aspect */
.videoplayer_alt, .videoplayer_alt_borked {
    z-index:0;
    height:100%;
    width:auto;
}
.videoplayer_alt_borked  {
    left:50%; 
    top:50%; 
    transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); 
    position:absolute;
}


/* Skinned control panel mode for windowed and full-screen */
.video_controls, .video_controls_bottom {
    display: table;
    padding: 0;
    margin: 0;
    z-index:1;
    line-height: 32px;
    vertical-align: middle;
    width: 100%;
    height: 32px;
    background: transparent;
}
.video_controls_bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

/* Skinned control panel icons in left and right boxes */
#video_controls_left, #video_controls_right {
    display: table-cell;
    text-decoration: none;
    white-space:nowrap;
    overflow: hidden;
    height: 32px;
    width: 100px;
}
#video_controls_right {
    right: 0;
}
/* Progress bar elements between left and right boxes */
#progress_bar {
    z-index:1;
    display: table-cell;
    position: relative;
    height: 32px;
    width: auto;
}
#progress_playing, #progress_text, #progress_text_total, #progress_text_title, #progress_clickme {
    color: #c0c0c0;
    position: absolute;
    white-space:nowrap;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 32px;
    border: none;
}
#progress_playing {
    z-index:2;
    opacity: 0.25;
    background-color: #ff0000;
}
#progress_text, #progress_text_total, #progress_text_title {
    vertical-align: middle;
    left: 1%;
    width: 98%;
    height:32px;
    line-height: 32px;
}
#progress_text {
    text-align: left;
    z-index:3;
}
#progress_text_total {
    text-align: right;
    z-index:4;
}
#progress_text_title {
    text-align: center;
    z-index:5;
}
#progress_clickme {
    z-index:6;
    width:100%;
    border: 1px solid #303030;
}
#playlist {
    padding-left:10pt;
}
.index_thumbnail {
}
img.index_thumbnail {
    width:THUMB_SIZEpx;
    vertical-align:middle;
    padding-bottom:8px;
    padding-right:8px;
}
</style>

<title>TITLE_TEXT</title>

</head>

<body onload="PlayerInit();">
<div id='video_box' class='video_box_windowed' >
<video id="videoplayer" class='videoplayer_windowed' style="display:none;" controls > <!-- Show controls now, or 'Silk' never will -->
    Get a <i>modern</i> browser that supports HTML5 Video.  If you see this, it doesn't, or it is disabled.<br/><br/>
    <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a><br/>
    <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a><br/>
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">IE, if your Windows version supports a new enough version.</a><br/>
    <a href="http://www.apple.com/safari/">Safari</a><br/>
    <a href="https://en.wikipedia.org/wiki/List_of_web_browsers">Others...</a><br/>
    <a href="http://www.w3schools.com/html/html5_video.asp">More info about compatibility...</a><br/>
</video>
<div id="video_controls" class='video_controls'>
    <div id="video_controls_left">
        <button id="bPrev"  class="button_format" type="button" tabindex='-1' title="Prev Video" onclick="javascript: return PlayPrev(); "><div class="prev_icon"/></button>
        <button id="bPlay"  class="button_format" type="button" tabindex='-1' title="Playing" onclick="javascript: return TogglePause(); "><div class="play_icon"/></button>
        <button id="bPause" class="button_format" type="button" tabindex='-1' title="Paused"  onclick="javascript: return TogglePause(); "><div class="pause_icon"/></button>
        &nbsp;
    </div>
    <div id="progress_bar">
        <div id="progress_playing"></div>
        <div id="progress_text">00:00:00</div>
        <div id="progress_text_total">00:00:00</div>
        <div id="progress_text_title"></div>
        <div id="progress_clickme"></div>
    </div>
    <div id="video_controls_right">
        &nbsp;
        <button id="bFull"   class="button_format" type="button" tabindex='-1' title="Show Full Screen" onclick="javascript: return ToggleFullScreen();"><div class="full_icon"/></button>
        <button id="bWindow" class="button_format" type="button" tabindex='-1' title="Exit Full Screen" onclick="javascript: return ToggleFullScreen();"><div class="window_icon"/></button>
        <button id="bSeq"    class="button_format" type="button" tabindex='-1' title="Sequential" onclick="javascript: return PlayListRandom();"><div class="serial_icon"/></button>
        <button id="bRand"   class="button_format" type="button" tabindex='-1' title="Shuffled"   onclick="javascript: return PlayListSerial();"><div class="random_icon"/></button>
        <button id="bNext"   class="button_format" type="button" tabindex='-1' title="Next Video" onclick="javascript: PlayNext(); return false;"><div class="next_icon" /></button>
    </div>
</div>
</div>
<div id="play_list">
<br/>
<div class="title"><div class="folder_icon"></div>TITLE_TEXT</div>

<!-- 
    These definitions are sought out in this file, and used to replace the 
    'INDEXES_HERE' with files and folders 
-->

<!-- A movie file link with thumbnail -->

<!--INDEX_FILE
<div class="index_entry" title="Play MEDIA_TITLE" path="MEDIA_PATH" style='FILE_STYLE' >
    <a href='' onclick="javascript: PlayMedia(this.parentNode.getAttribute('path')); return false;" ><img class="index_thumbnail" src="MEDIA_IMAGE" />MEDIA_TITLE</a>
</div>
-->

<!-- A movie file link with no thumbnail -->

<!--INDEX_FILE_NOTHUMB
<div class="index_entry" title="Play MEDIA_TITLE" path="MEDIA_PATH" style='FILE_STYLE' >
    <a href='' onclick="javascript: PlayMedia(this.parentNode.getAttribute('path')); return false;" >MEDIA_TITLE</a>
</div>
-->

<!-- A folder -->

<!--INDEX_INDEX
<br/><a class="folder_entry" title="Browse FOLDER_TITLE" style='FOLDER_STYLE' href="FOLDER_PATH" ><div class="folder_icon"></div>FOLDER_TITLE</a>
-->

<!--INDEXES_HERE-->

<div class="info_text">
<br/>
<a href="https://github.com/pingnak/videowebscript">Generated by VideoWebScript</a>
<br/>
</div>

</div>

<script type="text/javascript">
var bShuffle = false;
var playlist;
var now_playing = null;
var video_box;
var video;
var video_controls;
var play_list;
var bPause;
var bPlay;
var bSeq;
var bRand;
var bPrev;
var bNext;
var progress_bar;
var progress_playing;
var progress_text;
var progress_text_total;
var progress_text_title;
var progress_clickme;
var bFullscreenEnabled = document.bFullscreenEnabled || document.webkitFullscreenEnabled || document.mozFullScreenEnabled || document.msFullscreenEnabled;
var bFull;
var bWindow;
var mouseTimeout = -1;
var resizeTimeout = -1;
var browserWidth;
var browserHeight;

/* If no full screen, or some kinda 'mobile' browser that ignores all the rules, use the native controls */
var bUseNativeControls = !bFullscreenEnabled || /Android|Silk|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

/** Press pause/play button */
function TogglePause()
{
    if( 0 == video.readyState )
        PlayMedia();
    else if( video.paused )
        video.play();
    else
        video.pause();
    return false;
}

/** When video is paused, change to show playing icon */
function ShowPaused()
{
    if( bUseNativeControls )
        return;
    bPlay.style.display = video.paused ? 'none' : '';
    bPause.style.display  = video.paused ? '' : 'none';
    return false;
}

/** See if video is not full-screen */
function VideoIsFullScreen()
{
    var fullscreenElement = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement;
    return video_box == fullscreenElement;
}

/** Press full-screen button */
function ToggleFullScreen()
{
    if( VideoIsFullScreen() )
        ExitFullscreen();
    else
        EnterFullscreen();
    return false;
}


/** Enter full screen mode */
function EnterFullscreen()
{
    if(video_box.requestFullscreen) 
    {
        video_box.requestFullscreen();
    }
    else if(video_box.mozRequestFullScreen) 
    {
        video_box.mozRequestFullScreen();
    } 
    else if(video_box.webkitRequestFullscreen) 
    {
        video_box.webkitRequestFullscreen();
    }
    else if(video_box.msRequestFullscreen) 
    {
        video_box.msRequestFullscreen();
    }
}

/** Exit full screen mode */
function ExitFullscreen() 
{
    if(document.ExitFullscreen) 
    {
        document.ExitFullscreen();
    }
    else if(document.mozCancelFullScreen) 
    {
        document.mozCancelFullScreen();
    } 
    else if(document.webkitExitFullscreen) 
    {
        document.webkitExitFullscreen();
    }
    else if(document.msExitFullscreen)
    {
        document.msExitFullscreen();
    }
}


/** Check to see if player overflows, and fix it*/
function CheckAspect()
{
    if( VideoIsFullScreen() )
    {
        if( video.clientHeight > screen.availHeight )
        {
            video_box.className = 'video_box_alt';
            videoplayer.className = 'videoplayer_alt';
        }
        else if( video.clientWidth > screen.availWidth )
        {
            video_box.className = 'video_box_full';
            videoplayer.className = 'videoplayer_full';
        }
        // Detect if video is not centering (FIREFOX)
        var r = video.getBoundingClientRect();
        if( 0 == r.top && browserHeight != r.height 
         || 0 == r.left && browserWidth != r.width )
        {
            videoplayer.className = videoplayer.className + "_borked";
        }

    }
}

/** Format seconds to hh:mm:ss */
function hhmmss(t)
{
    if( isNaN(t) )
        return '00\:00\:00';
        
    var ss = Math.floor(t % 60);
    var mm = Math.floor((t / 60) % 60);
    var hh = Math.floor(t / 3600);
    return '' + ((hh < 10) ? '0'+hh : hh) +':'+((mm < 10) ? '0'+mm : mm)+':'+((ss < 10) ? '0'+ss : ss); 
}
/** Update progress */
function UpdateTime()
{   
    progress_playing.style.width = (100*video.currentTime/video.duration)+'%';
    progress_text.innerHTML = hhmmss(video.currentTime);
    progress_text_total.innerHTML = hhmmss(video.duration);
    return false;
}
/** Refresh play time */
function RefreshProgress(seconds)
{
    progress_text.innerHTML = hhmmss(seconds);
    progress_text_total.innerHTML = hhmmss(video.duration);
    if( isNaN(video.duration) || video.duration < 1 )
    {
        progress_playing.style.width = '0%';
    }
    else
    {
        progress_playing.style.width = (100*seconds/video.duration)+'%';
    }
}

/** 
 One of the reasons I loathe 'web technolog'.  
 Half a dozen kinds of 'position' on an event, according  
 to what browser.
 http://www.kirupa.com/html5/getting_mouse_click_position.htm
 */
function getClickPosition(e) {
    var parentPosition = getPosition(e.currentTarget);
    var xPosition = e.clientX - parentPosition.x;
    var yPosition = e.clientY - parentPosition.y;
    return { x: xPosition, y: yPosition };
}
/** Get position of element, on-screen */
function getPosition(element) {
    var xPosition = 0;
    var yPosition = 0;
    var elementcurr = element; 
    while (elementcurr) {
        xPosition += (elementcurr.offsetLeft - elementcurr.scrollLeft + elementcurr.clientLeft);
        yPosition += (elementcurr.offsetTop - elementcurr.scrollTop + elementcurr.clientTop);
        elementcurr = elementcurr.offsetParent;
    }
    return { x: xPosition, y: yPosition, w:element.clientWidth, h:element.clientHeight };
}

/** Convert mouse position to time */
function getProgressFromMouse(e)
{
    var pt = getClickPosition(e);
    var fraction = pt.x/progress_clickme.clientWidth;
    return fraction;
}
/** Seek to clicked time */
function ProgressClick(e)
{
    var fraction = getProgressFromMouse(e);
    var time= video.duration * fraction;
    video.currentTime = time;
}
/** Mouse entered progress; disable time updates */
function ProgressIn(e)
{
    ProgressTrackMouse(e);
    video.removeEventListener( 'timeupdate', UpdateTime );
}
/** Mouse exited progress; enable time updates */
function ProgressOut(e)
{
    UpdateTime();
    video.addEventListener( 'timeupdate', UpdateTime );
}
/** Update progress bar and time with mouse motion */
function ProgressTrackMouse(e)
{   /* Keep progress stamps from stomping on my tracking */
    var fraction = getProgressFromMouse(e);
    var time= video.duration * fraction;
    RefreshProgress(time);
}

/** We should know how big&long the video is, so we can update it*/
function UpdateMeta()
{
    UpdateTime();
    OnResize();
}

/**
 * Set things up, when the page loads
**/
function MouseTimeout()
{
    if( VideoIsFullScreen() )
    {
        video_controls.style.visibility = 'hidden';
        video_box.style.cursor = 'none';
    }
    else
    {
        video_controls.style.visibility = '';
    }
    mouseTimeout = -1;
}

/** Mouse moved - */
function MouseMoved()
{
    if( VideoIsFullScreen() )
    {
        video_controls.style.visibility = '';
        video_box.style.cursor = '';
        if( -1 != mouseTimeout )
            clearTimeout(mouseTimeout);
        mouseTimeout = setTimeout( MouseTimeout, 3000 );
    }
    return true;
}

/**
 * Set things up, when the page loads
**/
function PlayerInit()
{
    video_box = document.getElementById("video_box");
    video = document.getElementById("videoplayer");
    video.style.display = 'none';
    video_controls = document.getElementById("video_controls");
    
    play_list = document.getElementById("play_list");

    bPause= document.getElementById("bPause");
    bPlay = document.getElementById("bPlay");
    bFull = document.getElementById("bFull");
    bWindow=document.getElementById("bWindow");
    bPrev = document.getElementById("bPrev");
    bSeq  = document.getElementById("bSeq");
    bRand = document.getElementById("bRand");
    bNext = document.getElementById("bNext");
    progress_bar = document.getElementById("progress_bar");
    progress_text = document.getElementById("progress_text");
    progress_text_total = document.getElementById("progress_text_total");
    progress_text_title = document.getElementById("progress_text_title");
    progress_playing = document.getElementById("progress_playing");
    progress_clickme = document.getElementById("progress_clickme");

    if( bUseNativeControls )
    {
        /* If full-screen is unavailable to code, stick to native controls */
        video.setAttribute("controls",true);
        video_controls.style.visibility = 'hidden';
    }
    else
    {
        /* Had to add a layer on top of progress bar, to click */
        progress_clickme.addEventListener( 'mousemove', ProgressTrackMouse );    
        progress_clickme.addEventListener( 'click', ProgressClick );
        progress_clickme.addEventListener( 'mouseover', ProgressIn );     
        progress_clickme.addEventListener( 'mouseout', ProgressOut ); 
    
        video.addEventListener( 'playing', ShowPaused );
        video.addEventListener( 'pause', ShowPaused );
        video.addEventListener( 'timeupdate', UpdateTime );
        video.addEventListener( 'loadedmetadata', UpdateMeta );

        window.addEventListener( 'OnResize', OnResize );
        window.addEventListener( 'fullscreenchange', OnResize );
        window.addEventListener( 'webkitfullscreenchange', OnResize );
        window.addEventListener( 'mozfullscreenchange', OnResize );
        window.addEventListener( 'MSFullscreenChange', OnResize );
    }

    MakePlaylist();
    if( 0 == playlist.length )
    {
        video_box.style.display = 'none';
    }
    
    OnResizeNow();

    var params = window.location.href.split('?');
    if( 2 == params.length )
    {   /* If we have '?title.mp4' that's the video in this folder, to play */
        PlayMedia(decodeURI(params[1]));
    }

    bNext.setAttribute( 'title', "Next: " + TitleFromPath( WhatNext() ) );
    bPrev.setAttribute( 'title', "Prev: " + TitleFromPath( WhatPrev() ) );

}

/** Window changed: Organize and update controls */
function OnResize()
{
    // Because some browsers don't have this figured out yet, even though they call me
    if( -1 != resizeTimeout )
        clearTimeout(resizeTimeout);
    resizeTimeout = setTimeout(OnResizeNow,30);
}
function OnResizeNow()
{
    browserWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    browserHeight= window.innerHeight|| document.documentElement.clientHeight|| document.body.clientHeight;
    if( bUseNativeControls )
    {
        video.setAttribute("controls",true);
    }
    else
    {   // Sort out full versus windowed playbacl
        if( video.hasAttribute("controls") )
            video.removeAttribute("controls");
        if( VideoIsFullScreen() )
        {
            bWindow.style.display='';
            bFull.style.display="none";
            video_box.className = 'video_box_full';
            videoplayer.className = 'videoplayer_full';
            video_controls.className = 'video_controls_bottom';
            // Once we re-render, check video aspect, and adjust
            setTimeout(CheckAspect,30);
            // This shouldn't be necessary, except on Firefox, with the 'You Clicked a Full Screen Icon and went into full screen mode' idiot prompt disabled.
            play_list.style.display="none";
        }
        else
        {
            bWindow.style.display="none";
            bFull.style.display='';
            video_box.className = "video_box_windowed";
            videoplayer.className = 'videoplayer_windowed';
            video_controls.className = 'video_controls';
            if( -1 != mouseTimeout )
                clearTimeout(mouseTimeout);
            video_controls.style.visibility = '';
            video_box.style.cursor = '';
            play_list.style.display= '';
        }
    }
    
    return false;
}

/*
 * Play a video
 * http://www.w3.org/2010/05/video/mediaevents.html
 */
function PlayMedia(video_path)
{   // Setting attributes blows up 
    if(typeof(video_path)==='undefined')
    {
        video_path = playlist[0].getAttribute('path');
    }
    now_playing = video_path;
    if( 'undefined' == typeof(now_playing) )
    {
        progress_text_title.innerHTML = '';
        video.style.display = 'none';
        video_box.removeEventListener( 'mousemove', MouseMoved );
        return;
    }
    setTimeout(function() { PlayMedia2(video_path) }, 10);
    OnResizeNow();
    bNext.setAttribute( 'title', "Next: " + TitleFromPath( WhatNext() ) );
    bPrev.setAttribute( 'title', "Prev: " + TitleFromPath( WhatPrev() ) );
    ShowPaused();
    return false;
}

/** Setting attributes kills the video... so let the stack unwind and start it second */
function PlayMedia2(video_path)
{
    video.style.display = '';

    //var video_type='video/'+now_playing.split('.').pop();
    //video.setAttribute("type",video_type);
    video.setAttribute("src",now_playing);
    video.load();
    video.play();
    video.addEventListener( "ended", PlayNextWrap );

    // Show title
    progress_text_title.innerHTML = TitleFromPath(now_playing);

    // Show video
    window.scrollTo(0,0);
    
    video_box.addEventListener( 'mousemove', MouseMoved );
    
    // Tell display to come back up, between titles
    UpdateTime();
    MouseMoved();
}

/** Make a play list from title links */
function MakePlaylist()
{
    var collection = document.getElementsByClassName("index_entry");
    var array = new Array();
    var i;
    for( i = 0; i < collection.length; ++i )
    {
        array.push(collection[i]);
    }
    bRand.style.display = 'none';
    bSeq.style.display  = '';
    bShuffle = false;
    playlist = array;
}

/** Shuffle a play list */
function PlayListSerial()
{
    MakePlaylist();
    bRand.style.display = 'none';
    bSeq.style.display  = '';
    return PlayMedia(playlist[0].getAttribute('path'));
}

/** Shuffle a play list */
function PlayListRandom()
{
    ArrayShuffle(playlist);
    ArrayShuffle(playlist);
    ArrayShuffle(playlist);
    bRand.style.display = '';
    bSeq.style.display  = 'none';
    bShuffle = true;
    return PlayMedia(playlist[0].getAttribute('path'));
}
/**
 * Shuffle an array
 * @param array Array to shuffle in-place
 * @return Array passed in
**/
function ArrayShuffle(array)
{
    var ri;
    var tmp;
    var i = array.length;
    while( i-- )
    {
        ri = Math.floor(Math.random() * array.length);
        tmp = array[i];
        array[i] = array[ri];
        array[ri] = tmp;
    }
    return array;
}
/** Get index of currently playing media */
function IndexPlaying()
{
    var i = playlist.length;
    while( 0 <= --i )
    {
        if( playlist[i].getAttribute('path') == now_playing )
            return i;
    }
    return -1;
}
/** Play the previous one */
function PlayPrev()
{
    PlayMedia(WhatPrev());
    return false;
}
/** Play the next one */
function PlayNext()
{
    PlayMedia(WhatNext());
    return false;
}
/** At end of media, play the next one; re-shuffle as appropriate */
function PlayNextWrap()
{
    var i = IndexPlaying() + 1;
    if( i >= playlist.length )
    {
        i = 0;
        if( bShuffle )
        {
            return PlayListRandom();
        }
    }
    PlayMedia(playlist[i].getAttribute('path'));
    MouseMoved();
    return false;
}
/** What will play previous */
function WhatPrev()
{
    var i = IndexPlaying() - 1;
    if( i < 0 )
    {
        i = playlist.length-1;
    }
    var path = playlist[i].getAttribute('path');
    return path;
}
/** What will play next */
function WhatNext()
{
    var i = IndexPlaying() + 1;
    if( i >= playlist.length )
    {
        i = 0;
    }
    var path = playlist[i].getAttribute('path');
    return path;
}
/** Turn video URI into title text */
function TitleFromPath(path)
{
    path = path.substring(path.lastIndexOf('/')+1);
    path = path.substring(0,path.lastIndexOf('.'));
    
    // URI decoders don't do the whole job, apparently.
    var parts = path.split('%');
    if( 1 == parts.length )
        return path;
    var ss;
    path = parts.shift();
    while( 0 < parts.length )
    {
        ss = parts.shift();
        if( ss.match( /^[0-9A-F][0-9A-F].*/i ) )
        {
            path += String.fromCharCode( parseInt(ss.slice(0,2), 16) ) + ss.slice(2);
        }
        else
        {
            path += '%'+ss;
        }
    }
    return path;
}
</script>

</body>
</html>
