		</style>
        <title>TITLE_TEXT</title>
        <script type="text/javascript">
            var original_title = "Images In Zoom4";   // Original title, before play list monkeyed with it
            function showme(image_path,rot,wide,high)
            {
                var title = document.getElementById("title");
                title.innerHTML = image_path;
                
                var viewer = document.getElementById("viewer");
                if( 'undefined' == typeof(viewer) )
                {
                    title.innerHTML = original_title;
                    viewer.style.display = 'none';
                    return;
                }
                viewer.innerHTML = '<div class="rot'+rot+'"></div>';
                var innerImg = '<a href="#" class="image_box" onclick="javascript: hideme();"><img class="image_box" src="' + image_path + '" /></a>';
                viewer.firstChild.innerHTML = innerImg;
            }
            function hideme()
            {
                var title = document.getElementById("title");
                title.innerHTML = original_title;
                
                var viewer = document.getElementById("viewer");
                //viewer.style.height = '0px';
                viewer.innerHTML = "";
                window.onresize=null;
            }
        </script>
    </head>
	<body>
	<div id="viewer" class="image_viewer" ></div>
	<div id="title" class="title">Images In TITLE_TEXT</div>
	<div id="thumbnails">
	<table border="0" align="center">
	
